{{/*
SPDX-FileCopyrightText: 2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}

<p>{{ partial "fn/i18n_args" (slice "annc-gear-intro" .Params.appCount) }}</p>
{{- $msgName := "annc-gear-updates" }}
{{- if .Content }}{{ $msgName = "annc-gear-updates-including" }}{{ end }}
<p>{{ i18n $msgName }}</p>
