<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/attica-6.4.0.tar.xz">attica-6.4.0</a></td>
   <td align="right">66kB</td>
   <td><tt>c3f66e2c02ef313fa240f5aabfbcad3969fdfc788c9604d1cf7e4e0893fb5740</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/baloo-6.4.0.tar.xz">baloo-6.4.0</a></td>
   <td align="right">309kB</td>
   <td><tt>07474aea2c407a4fb01cd2640589a93e8baadb04f8ba19ae6d8f40293c4c4699</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/bluez-qt-6.4.0.tar.xz">bluez-qt-6.4.0</a></td>
   <td align="right">112kB</td>
   <td><tt>d2d0aee9f42b501c00711565c2ebe87c608ae4c0786d901386fc55c65039b16b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/breeze-icons-6.4.0.tar.xz">breeze-icons-6.4.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>6b6c0c82e1bda2023aeeae235976522a4209ef76181928b052948a76be1f1a00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/extra-cmake-modules-6.4.0.tar.xz">extra-cmake-modules-6.4.0</a></td>
   <td align="right">332kB</td>
   <td><tt>ced3f20741ddad24185dc1280a0c0d9171ba2508f84762417d74808561295add</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/frameworkintegration-6.4.0.tar.xz">frameworkintegration-6.4.0</a></td>
   <td align="right">53kB</td>
   <td><tt>4682d15c3a2e49785eda8f6c309e5f30d82ff6a5bcc39228544374c64199ef71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kapidox-6.4.0.tar.xz">kapidox-6.4.0</a></td>
   <td align="right">193kB</td>
   <td><tt>1c60d1278a5a8c7fd4b654550a94733378e92dc0ab1250fafdfa23202684fb23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/karchive-6.4.0.tar.xz">karchive-6.4.0</a></td>
   <td align="right">1009kB</td>
   <td><tt>bce4d06384960c6c7c18c86908b2d74c18d8600816c6f15c2920303a4806dabb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kauth-6.4.0.tar.xz">kauth-6.4.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>0598e205dedc670af3a077ba02110a44db2f9d5e55df5003b0fc2490ac2ff1ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kbookmarks-6.4.0.tar.xz">kbookmarks-6.4.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>13c72b0c47e333ada60a4665af7829910f5c83dd6ed57789fa3229ca68ad3280</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kcalendarcore-6.4.0.tar.xz">kcalendarcore-6.4.0</a></td>
   <td align="right">254kB</td>
   <td><tt>60359b1ed3316113ff0398c3fffc844939807597f7d1ab3317b634b985bdaa57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kcmutils-6.4.0.tar.xz">kcmutils-6.4.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>59b1293ffe67134ceba30fb7ce741889c54f85ad0c90d155688bdd0dfc8f31be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kcodecs-6.4.0.tar.xz">kcodecs-6.4.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>2ca3e70634e8116dd32601c551e092cf9941ea1d19ae501eed9e5477e298bfd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kcolorscheme-6.4.0.tar.xz">kcolorscheme-6.4.0</a></td>
   <td align="right">43kB</td>
   <td><tt>5c74af476b36fc99b246d17fa30f8c9b9480f79277fa077908e75a8fc171828c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kcompletion-6.4.0.tar.xz">kcompletion-6.4.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>f08e2af5046a7ba5a324e475a9f107294b3b83e45e14d70e422f99dda1459d51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kconfig-6.4.0.tar.xz">kconfig-6.4.0</a></td>
   <td align="right">332kB</td>
   <td><tt>fbb3d06fde4ea19955cfdbcbcec03de78a46f8c228f41d4e7aa6ceb88dc116dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kconfigwidgets-6.4.0.tar.xz">kconfigwidgets-6.4.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>98f7e9e11557d2d1db59711052a3b4cb4f8572316eff6421459b90b5d4393983</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kcontacts-6.4.0.tar.xz">kcontacts-6.4.0</a></td>
   <td align="right">203kB</td>
   <td><tt>b9b72d3bd1a64c0016b7122e79e657358226d239faf31699d6700d95e52bd59d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kcoreaddons-6.4.0.tar.xz">kcoreaddons-6.4.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>c5cd321350bca1193d0ce86c8ede70c6902a2ba03c577637b4aa537fcd8ce2b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kcrash-6.4.0.tar.xz">kcrash-6.4.0</a></td>
   <td align="right">28kB</td>
   <td><tt>011215bc952a430c1d093b0bf5cdad7057c9a9098d86116e69c6dd1000567697</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kdav-6.4.0.tar.xz">kdav-6.4.0</a></td>
   <td align="right">66kB</td>
   <td><tt>cf428935158984443fc0736252cf2e717065b76a72e6a42864c0dbe7581038ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kdbusaddons-6.4.0.tar.xz">kdbusaddons-6.4.0</a></td>
   <td align="right">45kB</td>
   <td><tt>212fa6be4194a819f0fb48f3c6fd2b58846ba911612b73e97dc7e90f6104c987</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kdeclarative-6.4.0.tar.xz">kdeclarative-6.4.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>bb47b521a4c843f6b3de78d46fe430de15886598c6d89d39bd91c767f40f6a85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kded-6.4.0.tar.xz">kded-6.4.0</a></td>
   <td align="right">32kB</td>
   <td><tt>be5ae21cf9b436eafe49ca8be750259899dc803501c47ee436d8dad6d33bfb9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kdesu-6.4.0.tar.xz">kdesu-6.4.0</a></td>
   <td align="right">55kB</td>
   <td><tt>f27ae587eb5f93bb1890b414ee3eb63b25404f96f6dbd0048426b60e0acacb5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kdnssd-6.4.0.tar.xz">kdnssd-6.4.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>0bc639a41b3beedecd0900caa757ff864e29357e3582f9150092be0e5558cc12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kdoctools-6.4.0.tar.xz">kdoctools-6.4.0</a></td>
   <td align="right">445kB</td>
   <td><tt>63e112f907118cafd4584ce8eb3149d3557a7f9e9a4005d10c40cccf46d24dc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kfilemetadata-6.4.0.tar.xz">kfilemetadata-6.4.0</a></td>
   <td align="right">580kB</td>
   <td><tt>45ff433054be4c5ef14a2aa842373c0679d632aacfdb78dfba989f7388c4c5ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kglobalaccel-6.4.0.tar.xz">kglobalaccel-6.4.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>0d6a274be3891b9cadf65e3c1fc7c9575b6e68b5373888f54f9d89df91cda8a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kguiaddons-6.4.0.tar.xz">kguiaddons-6.4.0</a></td>
   <td align="right">79kB</td>
   <td><tt>e1c25df0b8095be2497d2041e71cc843eaf75a6707f65b1cd74386fe3262cf11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kholidays-6.4.0.tar.xz">kholidays-6.4.0</a></td>
   <td align="right">248kB</td>
   <td><tt>1200fab6bd1546f016688597eef6c10c948f999d4eeab1e8eaaca345ccd2adcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/ki18n-6.4.0.tar.xz">ki18n-6.4.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>c069e559e3a311bf977f136d77732c5f3e4253752deff9ba999a6a8d7b4ae255</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kiconthemes-6.4.0.tar.xz">kiconthemes-6.4.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>d5a52c338ec3f7a91ed8c552830dd688bdf040651ad2c4a794c18eee4b161f47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kidletime-6.4.0.tar.xz">kidletime-6.4.0</a></td>
   <td align="right">29kB</td>
   <td><tt>4e2e0455a803ded2bee74d573701d2d95359eaed2f7964f230a40e3058a84c2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kimageformats-6.4.0.tar.xz">kimageformats-6.4.0</a></td>
   <td align="right">17MB</td>
   <td><tt>fd7bdab88e7bcccb333879eb28dedf35842c110c057ff4c7d3fa77708e541296</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kio-6.4.0.tar.xz">kio-6.4.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>5fa031f3b97e96ed228b7c42c9625e9f3e5477e4ca2d5a6ba2ff1d2d8d74075d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kirigami-6.4.0.tar.xz">kirigami-6.4.0</a></td>
   <td align="right">540kB</td>
   <td><tt>eca20cd9ce72d0eeb57bd5fba394f20d83bb4612ac4a4c23fb8ca74a93188c37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kitemmodels-6.4.0.tar.xz">kitemmodels-6.4.0</a></td>
   <td align="right">388kB</td>
   <td><tt>9608312c5564279b624c4965fbe198bfb2d26804a915cf51a468e31bb9982d61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kitemviews-6.4.0.tar.xz">kitemviews-6.4.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>4280b9bcdc527979b364ed122d152e75951ff78fd801d46ccce2de6608d56440</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kjobwidgets-6.4.0.tar.xz">kjobwidgets-6.4.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>22621a52cc69532a5495c7e8549d26af1ddd3b8532e9aa0d3c108950114dd565</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/knewstuff-6.4.0.tar.xz">knewstuff-6.4.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>aef6f5085adec31dc09f073f3884935156f7f9276cc8e7a1b1d846c39cd8126f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/knotifications-6.4.0.tar.xz">knotifications-6.4.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>77e9b680066dc49c8d5e23ac6291fbba05328dda327d5c34ca3141e1ffeb25dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/knotifyconfig-6.4.0.tar.xz">knotifyconfig-6.4.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>d8ef414b68c09a649f2f89d42d142b07967ce597b66fbb3f85dd02223c3cf278</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kpackage-6.4.0.tar.xz">kpackage-6.4.0</a></td>
   <td align="right">175kB</td>
   <td><tt>ba4a16abb7bd527c42d12c57631e5178b8fd0ffbf01ccf7758a0eb6ab1adc008</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kparts-6.4.0.tar.xz">kparts-6.4.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>ff30c51d3b7c63f95420faaf7c9a61ad3a6b5937328a4cbd56ad525b021e998d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kpeople-6.4.0.tar.xz">kpeople-6.4.0</a></td>
   <td align="right">65kB</td>
   <td><tt>4a1385b7fca2fa804ed7a0111f9c6c5a25ba98c7bf811e75c1bf1dd3fb472964</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kplotting-6.4.0.tar.xz">kplotting-6.4.0</a></td>
   <td align="right">32kB</td>
   <td><tt>4f9c770c814748f97a1d14e0ec9c452f2e406574fb51a85e71824ee81a71fc77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kpty-6.4.0.tar.xz">kpty-6.4.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>68626789dcb79d9fd1b3a4c55016747260085ba4c68f7b408a5f1d190cca4623</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kquickcharts-6.4.0.tar.xz">kquickcharts-6.4.0</a></td>
   <td align="right">107kB</td>
   <td><tt>a41629caef3877ce03c739c0950f094890f5b2a20a041dd338bdeb240c6401de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/krunner-6.4.0.tar.xz">krunner-6.4.0</a></td>
   <td align="right">128kB</td>
   <td><tt>aac498f1d313bfc1a8388ff47617e68c50413da15a744a38a05c473378316fbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kservice-6.4.0.tar.xz">kservice-6.4.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>cdb9d7e3c6ffa3f7da8ff33a7b3ecb95ef8451bdefb97bcb79452fa03e7d8a1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kstatusnotifieritem-6.4.0.tar.xz">kstatusnotifieritem-6.4.0</a></td>
   <td align="right">46kB</td>
   <td><tt>32790111741482844ae1901c37db568346efc2ae68f712cecc6b9a5c1cba81b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/ksvg-6.4.0.tar.xz">ksvg-6.4.0</a></td>
   <td align="right">81kB</td>
   <td><tt>3391c74fc31526e7ff2659622d00e93b5cd8667397611d5676062e4b32d86530</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/ktexteditor-6.4.0.tar.xz">ktexteditor-6.4.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>825e1a79549d66f204d50869f1dfbbc8a14ab96e76b3e8c3e899b236edccd6d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/ktexttemplate-6.4.0.tar.xz">ktexttemplate-6.4.0</a></td>
   <td align="right">826kB</td>
   <td><tt>74300fe80fd7d0e8724b381d8f885345d91f47ae341003d4655e82b0dab6bf90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/ktextwidgets-6.4.0.tar.xz">ktextwidgets-6.4.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>08bc69461ade9944d35e5055f7bddd5313774d7a6c6727f12a68e58d1d3fce70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kunitconversion-6.4.0.tar.xz">kunitconversion-6.4.0</a></td>
   <td align="right">889kB</td>
   <td><tt>30e969467cb6f20c97e263e5381371ead458517758128022141d52272a660474</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kuserfeedback-6.4.0.tar.xz">kuserfeedback-6.4.0</a></td>
   <td align="right">249kB</td>
   <td><tt>4cc42c4433c80441aec21883899816e812518e8f2c8c10c8d8add9e774538257</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kwallet-6.4.0.tar.xz">kwallet-6.4.0</a></td>
   <td align="right">343kB</td>
   <td><tt>b2885a088e5f70754511cc1ddb0a434c1a6d7939d9c77ffc36e95483491f9e40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kwidgetsaddons-6.4.0.tar.xz">kwidgetsaddons-6.4.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>fda7e2e813a2dcf3a391652994499079c0b222c01f62778979287c602a3f0dbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kwindowsystem-6.4.0.tar.xz">kwindowsystem-6.4.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>c4e8742cbdd294d56a689d66a73b03a660702037ac46242f17cc01b24f014a59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/kxmlgui-6.4.0.tar.xz">kxmlgui-6.4.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>04952bc7f9eaefc7a55c762d77e65888a2a71e638d3fc7126576dfe645564b0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/modemmanager-qt-6.4.0.tar.xz">modemmanager-qt-6.4.0</a></td>
   <td align="right">119kB</td>
   <td><tt>f2bc2aa916bce3ea58c38def984c35fada25e8756add400131782bfc62deee9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/networkmanager-qt-6.4.0.tar.xz">networkmanager-qt-6.4.0</a></td>
   <td align="right">193kB</td>
   <td><tt>3d2c905dd9c7445c44023ecf0646dd1b6fcdc83968f56dfa762296b0d15e9498</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/prison-6.4.0.tar.xz">prison-6.4.0</a></td>
   <td align="right">55kB</td>
   <td><tt>dd6eb0b640e02636a876e69f8e2dba4043c8e444a6630eb20488754f5f57ea8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/purpose-6.4.0.tar.xz">purpose-6.4.0</a></td>
   <td align="right">169kB</td>
   <td><tt>318169f201548eaa3c8a76e6eb00d9b10f51872d7f91c7f9749fcb518699e50e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/qqc2-desktop-style-6.4.0.tar.xz">qqc2-desktop-style-6.4.0</a></td>
   <td align="right">84kB</td>
   <td><tt>9b133056638a11b998883edff0d9078e868c09725868bdaee8e733fde308f0fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/solid-6.4.0.tar.xz">solid-6.4.0</a></td>
   <td align="right">304kB</td>
   <td><tt>56793b71d4fb9f4af8ec8af9293b777eccafdc1af757f5962429f0b1f93595c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/sonnet-6.4.0.tar.xz">sonnet-6.4.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>954205989da5d3443bfc256f8b31e05e23effb836f1810894d6fb9cc9d0cdda9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/syndication-6.4.0.tar.xz">syndication-6.4.0</a></td>
   <td align="right">556kB</td>
   <td><tt>d5637eaf255c4d3e110765d2ed5aba06c994560801e4e6c4b0698acc53954dcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/syntax-highlighting-6.4.0.tar.xz">syntax-highlighting-6.4.0</a></td>
   <td align="right">3.3MB</td>
   <td><tt>1f825afa7ca094937f1b8d357ae6b2cd37e58accf009290341ebada288c51505</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.4/threadweaver-6.4.0.tar.xz">threadweaver-6.4.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>a317ad5b4e0ae8dee7fd95026a3df3f5fc1c2e53aec6d5ccbadddfc753c29598</tt></td>
</tr>

</table>
