<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/bluedevil-5.22.5.tar.xz">bluedevil-5.22.5</a></td>
   <td align="right">158kB</td>
   <td><tt>a21094de5445e662786ab7ce7274106f9bd8a25233de363eea73403ce62fcc05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/breeze-5.22.5.tar.xz">breeze-5.22.5</a></td>
   <td align="right">32MB</td>
   <td><tt>e3fc4ca04cc0df694ab90fa4f9e8ca72512adae2c0320ce3f9702dddda029426</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/breeze-grub-5.22.5.tar.xz">breeze-grub-5.22.5</a></td>
   <td align="right">2.9MB</td>
   <td><tt>3b288fb1fa360542497a3048f3d106799254c6d0c5fbccd82d7a303561bd08dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/breeze-gtk-5.22.5.tar.xz">breeze-gtk-5.22.5</a></td>
   <td align="right">46kB</td>
   <td><tt>c23bd1810cc491264b376f2e0187c48b4d979e2aaded7061792c35c54fd22e52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/breeze-plymouth-5.22.5.tar.xz">breeze-plymouth-5.22.5</a></td>
   <td align="right">106kB</td>
   <td><tt>e111a2c919d52239b3101399a188ecadeecc0292593398cdf7e3201d4f8c659c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/discover-5.22.5.tar.xz">discover-5.22.5</a></td>
   <td align="right">8.0MB</td>
   <td><tt>c9809ec8f3f26909ce9901d6f7cd03cf52d4854431cfdf5340a4daa8404842b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/drkonqi-5.22.5.tar.xz">drkonqi-5.22.5</a></td>
   <td align="right">762kB</td>
   <td><tt>be1e373e82902425f61932d1ddfe8fd3d86882e927833f45e760eacfcbb843b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/kactivitymanagerd-5.22.5.tar.xz">kactivitymanagerd-5.22.5</a></td>
   <td align="right">101kB</td>
   <td><tt>22ab64377d595e0384285d95fe21464ab63a7644d2303cc0002b495f85412a19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/kde-cli-tools-5.22.5.tar.xz">kde-cli-tools-5.22.5</a></td>
   <td align="right">611kB</td>
   <td><tt>90cb373ea112b844541d9c52000635b02ccdf2fe2da0fc7901b1a5a8b8df45ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/kdecoration-5.22.5.tar.xz">kdecoration-5.22.5</a></td>
   <td align="right">46kB</td>
   <td><tt>b577202eefaad7b95e701c1ce14108fbfe4ae6fd73ce46c369a2a7a329211bef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/kde-gtk-config-5.22.5.tar.xz">kde-gtk-config-5.22.5</a></td>
   <td align="right">69kB</td>
   <td><tt>daf8ca2d5e3e3986a478238bcc6d22cc750e20ea37ce198e1f7ef1d88c971e6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/kdeplasma-addons-5.22.5.tar.xz">kdeplasma-addons-5.22.5</a></td>
   <td align="right">618kB</td>
   <td><tt>6240bb29e3e23374e193659b50b21ddf1448b3f5f88fb15094d029d6b1643103</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/kgamma5-5.22.5.tar.xz">kgamma5-5.22.5</a></td>
   <td align="right">81kB</td>
   <td><tt>0210777ada99795086d7ec348143e4f0e48089dd15fd30f09eb68d3739275054</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/khotkeys-5.22.5.tar.xz">khotkeys-5.22.5</a></td>
   <td align="right">1.7MB</td>
   <td><tt>64e1c561ca124209a6be7647aa400f2b8ce67dd6fa578442d551d2ba0e4e17d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/kinfocenter-5.22.5.tar.xz">kinfocenter-5.22.5</a></td>
   <td align="right">1.1MB</td>
   <td><tt>951e42305ce4aaf709fca5e211e9fc4f2ddbbdba2417192f755a190fe325b9df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/kmenuedit-5.22.5.tar.xz">kmenuedit-5.22.5</a></td>
   <td align="right">879kB</td>
   <td><tt>1ad7f0e64b5088e16f61150d5936ece570410b17fb32d02bb7ec71d420c0c8c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/kscreen-5.22.5.tar.xz">kscreen-5.22.5</a></td>
   <td align="right">115kB</td>
   <td><tt>6bfab1f10532599e16d1112e794626b105b4c80c41659665ffdf710bc29d1e60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/kscreenlocker-5.22.5.tar.xz">kscreenlocker-5.22.5</a></td>
   <td align="right">113kB</td>
   <td><tt>28edcf841db79554ac113c8619d20f978b2ab81bfd5d5be25f973506f262f180</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/ksshaskpass-5.22.5.tar.xz">ksshaskpass-5.22.5</a></td>
   <td align="right">23kB</td>
   <td><tt>f7dd2fa8d28ac4a673a9af0694f73c96caea63ae96ad836b9aa7a8055067e245</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/ksystemstats-5.22.5.tar.xz">ksystemstats-5.22.5</a></td>
   <td align="right">84kB</td>
   <td><tt>683df0bb88d237a4dffe0b438c1796db4bb4d267d42d6363fc491a69f98265b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/kwallet-pam-5.22.5.tar.xz">kwallet-pam-5.22.5</a></td>
   <td align="right">19kB</td>
   <td><tt>d8a2a7408e8eefa2b3cc1aa22d130f90ae4bd67c716f290f295a05d5de14320f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/kwayland-integration-5.22.5.tar.xz">kwayland-integration-5.22.5</a></td>
   <td align="right">22kB</td>
   <td><tt>4cbc301227a507fb2ac42e08130c79ff58a9905ebd444ddd64c78bb1e834fb4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/kwayland-server-5.22.5.tar.xz">kwayland-server-5.22.5</a></td>
   <td align="right">213kB</td>
   <td><tt>dd64bdd629b239621d687d8deceff6e0da88542c6b67140c5ff8b654155bf39d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/kwin-5.22.5.tar.xz">kwin-5.22.5</a></td>
   <td align="right">6.1MB</td>
   <td><tt>128daed41c1b9e65ddad3fe2ce3aea821ef54af520d3d39cde059b2c2bfcf5a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/kwrited-5.22.5.tar.xz">kwrited-5.22.5</a></td>
   <td align="right">20kB</td>
   <td><tt>63bd95099452951dba9e10a5ba15c4b6693cc44fb3ce99b7cb45638890748e09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/layer-shell-qt-5.22.5.tar.xz">layer-shell-qt-5.22.5</a></td>
   <td align="right">17kB</td>
   <td><tt>ffcc705ae4fadabc3422b8331a8d6334e2ce197ca6fadd7343c0a48927d32f45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/libkscreen-5.22.5.tar.xz">libkscreen-5.22.5</a></td>
   <td align="right">93kB</td>
   <td><tt>5b4fcaebacc3a4cb62e599a796dca89a30c5ac10937ba3ef9a28998c84ca16e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/libksysguard-5.22.5.tar.xz">libksysguard-5.22.5</a></td>
   <td align="right">719kB</td>
   <td><tt>a522ab976baafa8c1b80cbfe6a4d7718aa8c8623f84294d25c5d43429dd472c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/milou-5.22.5.tar.xz">milou-5.22.5</a></td>
   <td align="right">51kB</td>
   <td><tt>f7c22b46d9a5081206f78e9964f515055876b7b4e9e6075d5fcc50b85c783fb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/oxygen-5.22.5.tar.xz">oxygen-5.22.5</a></td>
   <td align="right">4.2MB</td>
   <td><tt>0c3bb29ce140b00e1c95a0a1cb39c662d935f7216e61810837097a39516ec43b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/plasma-browser-integration-5.22.5.tar.xz">plasma-browser-integration-5.22.5</a></td>
   <td align="right">209kB</td>
   <td><tt>0ef1c9440392f028167ed5c158fe7395324f70b94056d03fe2534c9b1a267ffe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/plasma-desktop-5.22.5.tar.xz">plasma-desktop-5.22.5</a></td>
   <td align="right">15MB</td>
   <td><tt>b4532accca913cb2551fdbdb865fd0c50cff76f690c9cfa8fa2ad627ddadacce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/plasma-disks-5.22.5.tar.xz">plasma-disks-5.22.5</a></td>
   <td align="right">82kB</td>
   <td><tt>70e18612c00a4c6cb07621c5c902b2298ba69649bd3cec91ae7999dbfa0eb492</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/plasma-firewall-5.22.5.tar.xz">plasma-firewall-5.22.5</a></td>
   <td align="right">331kB</td>
   <td><tt>ef5a50b38752599d2760470df68423b76687bab3e9a7f25a7655a63a142c31a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/plasma-integration-5.22.5.tar.xz">plasma-integration-5.22.5</a></td>
   <td align="right">64kB</td>
   <td><tt>28c743f1a911042dac1dd86ae615748b7b5422e8d4b47bff34d31cf4bdb6f270</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/plasma-nano-5.22.5.tar.xz">plasma-nano-5.22.5</a></td>
   <td align="right">63kB</td>
   <td><tt>50ba3ec6f8619936fdac8bf2eff03e595828e8b7c2f7e5adcb8001e07a451945</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/plasma-nm-5.22.5.tar.xz">plasma-nm-5.22.5</a></td>
   <td align="right">877kB</td>
   <td><tt>7fab9fa175a7b0caf21ff19dddda9d1ea4d05cd3962fe1a2c726404203b9fc49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/plasma-pa-5.22.5.tar.xz">plasma-pa-5.22.5</a></td>
   <td align="right">124kB</td>
   <td><tt>40ade6a4f7b19ae378d0db621f238f5c197d7a1a78379b5c92e9a1a88929b5ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/plasma-phone-components-5.22.5.tar.xz">plasma-phone-components-5.22.5</a></td>
   <td align="right">1.4MB</td>
   <td><tt>40669f5218ac04d7e1aa71ffecf2376a6de5e747da1d24adee37cbe6e7e35ad4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/plasma-sdk-5.22.5.tar.xz">plasma-sdk-5.22.5</a></td>
   <td align="right">263kB</td>
   <td><tt>4df9655a53f8cf227ca2097555c1ada9118a7d866bf075d6dc53548969db753f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/plasma-systemmonitor-5.22.5.tar.xz">plasma-systemmonitor-5.22.5</a></td>
   <td align="right">131kB</td>
   <td><tt>dd9eaaeba11da2d9640873882ed4aa573c2b3fc2f5640783965992ceda1647a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/plasma-tests-5.22.5.tar.xz">plasma-tests-5.22.5</a></td>
   <td align="right">1kB</td>
   <td><tt>b143e15be36b10c7539ad298edb758b15e06644a1065906bc628f9566baabcf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/plasma-thunderbolt-5.22.5.tar.xz">plasma-thunderbolt-5.22.5</a></td>
   <td align="right">62kB</td>
   <td><tt>ac52399979e7ba36ad74349680caa3c088d5a411fd0f9452f745bda683b0328f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/plasma-vault-5.22.5.tar.xz">plasma-vault-5.22.5</a></td>
   <td align="right">167kB</td>
   <td><tt>4091679106a73c2d1ea4c76048258ce9bbbba326a1cdff359514dba7d29de9aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/plasma-workspace-5.22.5.tar.xz">plasma-workspace-5.22.5</a></td>
   <td align="right">8.0MB</td>
   <td><tt>f22e12dea303478d949f69b88fcf30787ef7f5d098be55595ec562aee4b13606</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/plasma-workspace-wallpapers-5.22.5.tar.xz">plasma-workspace-wallpapers-5.22.5</a></td>
   <td align="right">48MB</td>
   <td><tt>be214397f580adff039f28b37758b5a19da01f35ef5ee9ddb3fe93c0f116a8c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/plymouth-kcm-5.22.5.tar.xz">plymouth-kcm-5.22.5</a></td>
   <td align="right">37kB</td>
   <td><tt>2fad7c87e9c8f74b5f5e01a1f23ef22e6c7e4d65493f716aaf4f316f3e60c8e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/polkit-kde-agent-1-5.22.5.tar.xz">polkit-kde-agent-1-5.22.5</a></td>
   <td align="right">44kB</td>
   <td><tt>60e3ea544b2b609351961fe7f299b79c9f8ff89b911b63490fa0d3afd5222ba8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/powerdevil-5.22.5.tar.xz">powerdevil-5.22.5</a></td>
   <td align="right">604kB</td>
   <td><tt>597301e6520c17131c98a98960a1e3b7827e63ab9efed0fea5340203133f1c9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/qqc2-breeze-style-5.22.5.tar.xz">qqc2-breeze-style-5.22.5</a></td>
   <td align="right">64kB</td>
   <td><tt>eece8c3fa822e5ab2af2fcdeb3006947e2a3012c660d9e80f79616e242582862</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/sddm-kcm-5.22.5.tar.xz">sddm-kcm-5.22.5</a></td>
   <td align="right">63kB</td>
   <td><tt>4669a40fe4380f65dfff509b00fe1dfd026507ae50fc5fa8daeea7b68c207798</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/systemsettings-5.22.5.tar.xz">systemsettings-5.22.5</a></td>
   <td align="right">200kB</td>
   <td><tt>cc7978faa1c3fcf75584a09459e69e665c17514dcf59e07287e1d80aadb975bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.5/xdg-desktop-portal-kde-5.22.5.tar.xz">xdg-desktop-portal-kde-5.22.5</a></td>
   <td align="right">84kB</td>
   <td><tt>861d71bd0146c5c67d5c1774506fd201ed5be1e706d5cc9a05be0428136ca601</tt></td>
</tr>

</table>
