<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/accessibility-inspector-24.08.3.tar.xz">accessibility-inspector-24.08.3</a></td>
   <td align="right">83kB</td>
   <td><tt>8a4aecb8a131abdc358574af29288999a803a5d705bd4750de470ba8d907863e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/akonadi-24.08.3.tar.xz">akonadi-24.08.3</a></td>
   <td align="right">1665kB</td>
   <td><tt>953e1c56b8c7756826ee1eeca891ea3a194667b432c1f5f6c4ea00c6a0fc466b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/akonadi-calendar-24.08.3.tar.xz">akonadi-calendar-24.08.3</a></td>
   <td align="right">509kB</td>
   <td><tt>5013a1a6d43328714a86cafa8b15a53b64c4c70301493a2e895f743c7f873e19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/akonadi-calendar-tools-24.08.3.tar.xz">akonadi-calendar-tools-24.08.3</a></td>
   <td align="right">258kB</td>
   <td><tt>fe73ecd94f7a7744936886843d96acada784091a612ac18c63be144c52da0ebf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/akonadiconsole-24.08.3.tar.xz">akonadiconsole-24.08.3</a></td>
   <td align="right">297kB</td>
   <td><tt>babb9f0814bd65d94fe2b34fc7c822f238f095d3ba1ac9e6bc5287126e28da38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/akonadi-contacts-24.08.3.tar.xz">akonadi-contacts-24.08.3</a></td>
   <td align="right">425kB</td>
   <td><tt>7a82ab1daef85cf8d2d20f369f99b08f878fd1b97061d0f2107d39022f0531ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/akonadi-import-wizard-24.08.3.tar.xz">akonadi-import-wizard-24.08.3</a></td>
   <td align="right">478kB</td>
   <td><tt>101f142985aa76a77d83f251f3ed609be3eea827a69e6c9b41d50d00dc1a386b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/akonadi-mime-24.08.3.tar.xz">akonadi-mime-24.08.3</a></td>
   <td align="right">170kB</td>
   <td><tt>4b7844ddead98ff3e685b835e49dbea760066389279b21760c9c239f6d3c78fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/akonadi-notes-24.08.3.tar.xz">akonadi-notes-24.08.3</a></td>
   <td align="right">28kB</td>
   <td><tt>78777b8468974e66031a49c163fe908405b67e0f0bace0307f91f0f4246fefde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/akonadi-search-24.08.3.tar.xz">akonadi-search-24.08.3</a></td>
   <td align="right">110kB</td>
   <td><tt>63998a1ff695f3be8167bfe6c2619e11765f892248252e05a7bcf0a2bde96068</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/akregator-24.08.3.tar.xz">akregator-24.08.3</a></td>
   <td align="right">2076kB</td>
   <td><tt>78e6f8702b9b32bfad8ba16751abdcac40ac86dc771a5f6b7e9790679d5cf01b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/alligator-24.08.3.tar.xz">alligator-24.08.3</a></td>
   <td align="right">190kB</td>
   <td><tt>543f17a4a26042379490809b26a93dddbe7a924f733cacf391bd8eb1b5ee8ab0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/analitza-24.08.3.tar.xz">analitza-24.08.3</a></td>
   <td align="right">351kB</td>
   <td><tt>9f0b7063ea5f5d7c2131d4a6dcccd3275d31a4968ba6eb0920a70ca7fc90d68e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/angelfish-24.08.3.tar.xz">angelfish-24.08.3</a></td>
   <td align="right">267kB</td>
   <td><tt>8e1db4ade94237d980fc82e53dd64d19db996301d5cdf1a7f6010b2ad8feadf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/arianna-24.08.3.tar.xz">arianna-24.08.3</a></td>
   <td align="right">801kB</td>
   <td><tt>776bd2012d0d66547c5710e10a1cd74d4b2adababdfc377e6abb10f20db11b7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/ark-24.08.3.tar.xz">ark-24.08.3</a></td>
   <td align="right">2937kB</td>
   <td><tt>3c6a100fbb8512b8f891726274658c51ce10f9318d4c14dbb2380a2c602f321b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/artikulate-24.08.3.tar.xz">artikulate-24.08.3</a></td>
   <td align="right">1029kB</td>
   <td><tt>179cbd39892f5dc8513301095d790a16f35c7956a5d25ad8414963d943dd8dd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/audex-24.08.3.tar.xz">audex-24.08.3</a></td>
   <td align="right">695kB</td>
   <td><tt>dd605a83dc8f02b9de95bd26deaec33e462a86edbda1bc26d6cf4f5bec626598</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/audiocd-kio-24.08.3.tar.xz">audiocd-kio-24.08.3</a></td>
   <td align="right">561kB</td>
   <td><tt>3e280e5e99d7053e12e1e65f68c7ee7388b41f85569709f8a57364ff8fb8e7cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/audiotube-24.08.3.tar.xz">audiotube-24.08.3</a></td>
   <td align="right">150kB</td>
   <td><tt>d4e7223412d6f3e958cdf68b101a9a1d303038cb931d594e6663af7237054707</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/baloo-widgets-24.08.3.tar.xz">baloo-widgets-24.08.3</a></td>
   <td align="right">270kB</td>
   <td><tt>78a56eac8a48f45ca9a9f645fb70b51b4b3df6a7500cc8443f4874bc6bc909de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/blinken-24.08.3.tar.xz">blinken-24.08.3</a></td>
   <td align="right">2533kB</td>
   <td><tt>048b4a94442a67ca76a0412db0f6cf7f9628c4d5afc4385d7e6c68109aefaeb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/bomber-24.08.3.tar.xz">bomber-24.08.3</a></td>
   <td align="right">819kB</td>
   <td><tt>dac1294aa1f8f42aba89b5cf0c17a79104dfafba7f5c91723567c906258345bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/bovo-24.08.3.tar.xz">bovo-24.08.3</a></td>
   <td align="right">214kB</td>
   <td><tt>e31ebe29cd4d4560a771ff2d6fa3687d72207b5050bf8020cdbb2bab46c6ece7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/calendarsupport-24.08.3.tar.xz">calendarsupport-24.08.3</a></td>
   <td align="right">977kB</td>
   <td><tt>2a5761252a40131d5ab068467f80beed9d1272fb385283096628e436fa81b0b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/calindori-24.08.3.tar.xz">calindori-24.08.3</a></td>
   <td align="right">386kB</td>
   <td><tt>7da741d6582033b48c4b7b7245519c80f928ef708ee976dbbaefb769644972a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/cantor-24.08.3.tar.xz">cantor-24.08.3</a></td>
   <td align="right">10593kB</td>
   <td><tt>5621f65a6207029c5694e1fcf48b1f1bf7ae6b38377ea1ff1123f9d40f45c94c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/cervisia-24.08.3.tar.xz">cervisia-24.08.3</a></td>
   <td align="right">1767kB</td>
   <td><tt>36f60508d106b55cb6cf0c6020f380c9b4941f5a5d06fd285ee776bcd311b969</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/colord-kde-24.08.3.tar.xz">colord-kde-24.08.3</a></td>
   <td align="right">114kB</td>
   <td><tt>ae895e5cfdc3e77bf88a482c034a7748d00a4ce7d74d522cb94b68be876a02d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/dolphin-24.08.3.tar.xz">dolphin-24.08.3</a></td>
   <td align="right">5513kB</td>
   <td><tt>95bbce876019fb0c7cc6ca4a5fd8ec1f625f70fd511fe883df12446a5285806d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/dolphin-plugins-24.08.3.tar.xz">dolphin-plugins-24.08.3</a></td>
   <td align="right">310kB</td>
   <td><tt>a67259312b76ef2f46f1dad3c5fe4b3ec16322517db14de47861d6519be5d630</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/dragon-24.08.3.tar.xz">dragon-24.08.3</a></td>
   <td align="right">1787kB</td>
   <td><tt>24af10ad04f11b368fbbb90a2ee7fccbac89f0166c54b4bb0b55940d6cb76b4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/elisa-24.08.3.tar.xz">elisa-24.08.3</a></td>
   <td align="right">1864kB</td>
   <td><tt>9b6aebf36e05fc568213f5437a0431a84a595f4ba89189bb5e0541d51eccdbd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/eventviews-24.08.3.tar.xz">eventviews-24.08.3</a></td>
   <td align="right">479kB</td>
   <td><tt>da3282e8119b407e9b06b26f970648d8424ec6655b5565fb4c4a6bf3a9427e03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/falkon-24.08.3.tar.xz">falkon-24.08.3</a></td>
   <td align="right">2574kB</td>
   <td><tt>c5440fda3c59fa593ff6edf614d080b05d653a1f43e83c333f6e6109088c9b97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/ffmpegthumbs-24.08.3.tar.xz">ffmpegthumbs-24.08.3</a></td>
   <td align="right">32kB</td>
   <td><tt>1945360c68e6738828b7130f0d7b5b64ea129edd581bbebf665296e4a9c3cac4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/filelight-24.08.3.tar.xz">filelight-24.08.3</a></td>
   <td align="right">669kB</td>
   <td><tt>910ea6b0f1b16474b63523e1c390612aac358185705e37936960dc234bbfcf37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/francis-24.08.3.tar.xz">francis-24.08.3</a></td>
   <td align="right">111kB</td>
   <td><tt>4366436480825ce619612e49a5a70546dea50ed1e410be65152e29dee158ba19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/ghostwriter-24.08.3.tar.xz">ghostwriter-24.08.3</a></td>
   <td align="right">2644kB</td>
   <td><tt>e5e4fd2da0525e82d3556a4fbb4ec146f40227b57867a1cdf94f6e7d365557a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/granatier-24.08.3.tar.xz">granatier-24.08.3</a></td>
   <td align="right">1966kB</td>
   <td><tt>545a9c73b103209b4a488045ece294865fa5bd3f54890ceaf99d17f2bc3224c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/grantlee-editor-24.08.3.tar.xz">grantlee-editor-24.08.3</a></td>
   <td align="right">121kB</td>
   <td><tt>3958b0311c1f95d7b2451e3d4c587f96718f3c599396fd5f0364aa160b603c25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/grantleetheme-24.08.3.tar.xz">grantleetheme-24.08.3</a></td>
   <td align="right">61kB</td>
   <td><tt>97926b8d71083253880615b5452fe20f17afa58bdd7d7309bf53bd2e045b86ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/gwenview-24.08.3.tar.xz">gwenview-24.08.3</a></td>
   <td align="right">6369kB</td>
   <td><tt>99a51e572adac269bf932fc90b2897376cc05e6d22f539a33c3e10c287ab7746</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/incidenceeditor-24.08.3.tar.xz">incidenceeditor-24.08.3</a></td>
   <td align="right">574kB</td>
   <td><tt>c2c2063443616a7e4a0b05cedb58e71129e260aacf5b2a4219c950737e1dcb82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/isoimagewriter-24.08.3.tar.xz">isoimagewriter-24.08.3</a></td>
   <td align="right">456kB</td>
   <td><tt>91a62e23de21489035d53b09ec22d02e84af06768cb7fa82dba815a050680242</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/itinerary-24.08.3.tar.xz">itinerary-24.08.3</a></td>
   <td align="right">723kB</td>
   <td><tt>226f31c887eed3dc105f50295669c13ac018d1b27587a07228471c0d4913c75f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/juk-24.08.3.tar.xz">juk-24.08.3</a></td>
   <td align="right">1864kB</td>
   <td><tt>345ab402726004f27175dd9b6f22b72234efbe47ebea23741550606c6ce82caa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/k3b-24.08.3.tar.xz">k3b-24.08.3</a></td>
   <td align="right">10440kB</td>
   <td><tt>bc97c34afb2138ca1fc25bd5fa79e77d1ca2dbe145332317159ef1afbca2c19f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kaccounts-integration-24.08.3.tar.xz">kaccounts-integration-24.08.3</a></td>
   <td align="right">90kB</td>
   <td><tt>76afc9724677c3415a8c86bbf880c08ffac78562d0f5f2c6afd0ce87242fe3c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kaccounts-providers-24.08.3.tar.xz">kaccounts-providers-24.08.3</a></td>
   <td align="right">67kB</td>
   <td><tt>af6121ac476080d786a90bb95d70ecc8b3750696dcd2157fd39b08961e2210e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kaddressbook-24.08.3.tar.xz">kaddressbook-24.08.3</a></td>
   <td align="right">3344kB</td>
   <td><tt>a94a91bab82e7fa1158965ea711c778b6370e88bb8cafe72d5f840932e13e4d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kajongg-24.08.3.tar.xz">kajongg-24.08.3</a></td>
   <td align="right">4510kB</td>
   <td><tt>1b5c61449e4a1bbc56612aa028f8b4a7354f11235a0925baead24eab54c332e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kalarm-24.08.3.tar.xz">kalarm-24.08.3</a></td>
   <td align="right">2558kB</td>
   <td><tt>e212953274baacae21985be332dd351f37051050223dfe3fb344b8557b5c0f63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kalgebra-24.08.3.tar.xz">kalgebra-24.08.3</a></td>
   <td align="right">926kB</td>
   <td><tt>440f58c3234890614eb04cc85c49cc0c431578a2805fc1be94d6866fd70155d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kalk-24.08.3.tar.xz">kalk-24.08.3</a></td>
   <td align="right">74kB</td>
   <td><tt>37a8a8fe597646700c09c379382f08f2ea6e755213181c0120c30591879d2d18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kalm-24.08.3.tar.xz">kalm-24.08.3</a></td>
   <td align="right">75kB</td>
   <td><tt>e1c43ff293e11f92e4b7796e4a8fa2a82c07b514a603247855ec0c93b7591515</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kalzium-24.08.3.tar.xz">kalzium-24.08.3</a></td>
   <td align="right">22151kB</td>
   <td><tt>280b58d4c6dda731630ed76dc4a33ea42737e534f32b0d94b73aa4acb72ac483</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kamera-24.08.3.tar.xz">kamera-24.08.3</a></td>
   <td align="right">128kB</td>
   <td><tt>b7999273889f274eb1aff8a69e0f1e5f342c1ae37bbd4a981bd89edc5298821c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kamoso-24.08.3.tar.xz">kamoso-24.08.3</a></td>
   <td align="right">228kB</td>
   <td><tt>f7f0300e9e8e8df3453de5a6d9e009d4a669a70255a63898f5c09a6ac0996bb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kanagram-24.08.3.tar.xz">kanagram-24.08.3</a></td>
   <td align="right">7599kB</td>
   <td><tt>97e60c6be79b88836a0f2214f28e8ca1b7b73415a8244eb804381e1482d8b4fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kapman-24.08.3.tar.xz">kapman-24.08.3</a></td>
   <td align="right">2097kB</td>
   <td><tt>6e17a382a65028c7631a9713ccad62bb8056ff5a509a8fc9b3c55d28e546f98f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kapptemplate-24.08.3.tar.xz">kapptemplate-24.08.3</a></td>
   <td align="right">335kB</td>
   <td><tt>405e5f8f9fe5322475ea8433d373aed5ecb431ced2539b37aa96dfe6dbb78f88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kasts-24.08.3.tar.xz">kasts-24.08.3</a></td>
   <td align="right">604kB</td>
   <td><tt>1853a1f37872836e2596f440f0533a99e2d8cad693b1ad5f252266e7a6acfc76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kate-24.08.3.tar.xz">kate-24.08.3</a></td>
   <td align="right">8055kB</td>
   <td><tt>ccb656435efc1fde0ae4c2d93400a2c05660bf299e6411714b9042422c50d4f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/katomic-24.08.3.tar.xz">katomic-24.08.3</a></td>
   <td align="right">1413kB</td>
   <td><tt>9e256b64217e4757d8c4e5604b202d07399e73a0d59ed819b530b096f5e01051</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kbackup-24.08.3.tar.xz">kbackup-24.08.3</a></td>
   <td align="right">379kB</td>
   <td><tt>9ff0f9feb8fff2d05a2de978b7bab24bde6c5da9621b6496e91d693152e32f8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kblackbox-24.08.3.tar.xz">kblackbox-24.08.3</a></td>
   <td align="right">538kB</td>
   <td><tt>c1509e395e2d2a648e7f2c9a6302b02d5f2e4336fe350e3a113ef04282bc5659</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kblocks-24.08.3.tar.xz">kblocks-24.08.3</a></td>
   <td align="right">2053kB</td>
   <td><tt>9d92483fdddd5649810afee1537db9270cc5c014207460bfd4bf791b586e861c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kbounce-24.08.3.tar.xz">kbounce-24.08.3</a></td>
   <td align="right">3246kB</td>
   <td><tt>ca25c64a148183f69f1afcce7551b73ab7bbb9b233e12f4448f63aa3aa9d2adb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kbreakout-24.08.3.tar.xz">kbreakout-24.08.3</a></td>
   <td align="right">2496kB</td>
   <td><tt>d2559e6d115e08ce2c0aaa1504c2d986e2cd33082e0bdf2c9126928e81015fd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kbruch-24.08.3.tar.xz">kbruch-24.08.3</a></td>
   <td align="right">5036kB</td>
   <td><tt>3749005851a87819904715e68bed7dbd7148d2f2199fb6dd8b34c147a02f4d88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kcachegrind-24.08.3.tar.xz">kcachegrind-24.08.3</a></td>
   <td align="right">923kB</td>
   <td><tt>6f51a60e44855b177c4d7972e3b560181c074ba5752ea42759624e03fbbf2e1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kcalc-24.08.3.tar.xz">kcalc-24.08.3</a></td>
   <td align="right">461kB</td>
   <td><tt>7ec39999db32f2e7370f69e180ea7d02410c8e13fabc54755c098eb7478b0420</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kcalutils-24.08.3.tar.xz">kcalutils-24.08.3</a></td>
   <td align="right">347kB</td>
   <td><tt>7687ce2e3121d1c399ec5d9b3da22c894cd0740cbfce232ce2e2b2d2ce63d820</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kcharselect-24.08.3.tar.xz">kcharselect-24.08.3</a></td>
   <td align="right">465kB</td>
   <td><tt>275a373dce83cf9e28188e6ead0dbf85ef728a167c418b42550309787fbb5f9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kclock-24.08.3.tar.xz">kclock-24.08.3</a></td>
   <td align="right">645kB</td>
   <td><tt>64675186861b20d2a171b305ccd5fdc9a61171cd254dbad9e0ed953fce8e2c9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kcolorchooser-24.08.3.tar.xz">kcolorchooser-24.08.3</a></td>
   <td align="right">35kB</td>
   <td><tt>9763bffd1a92014a6e790747100e2210e821519b7eba0b2564c39b49ff164132</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kcron-24.08.3.tar.xz">kcron-24.08.3</a></td>
   <td align="right">856kB</td>
   <td><tt>5cf43aaf5ecbf746d519ac1729e13f5a30f387b7a26028e8411d391d567145db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kdebugsettings-24.08.3.tar.xz">kdebugsettings-24.08.3</a></td>
   <td align="right">112kB</td>
   <td><tt>4ef7cc06350e36db9b8b09b512e2559f7e5b3cc489b1715ff41207b11c2881c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kdeconnect-kde-24.08.3.tar.xz">kdeconnect-kde-24.08.3</a></td>
   <td align="right">690kB</td>
   <td><tt>10e05e89bdaa02291d8b6d07ec1af90040a87ec2bc01bf96a68c8a11434fff68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kde-dev-scripts-24.08.3.tar.xz">kde-dev-scripts-24.08.3</a></td>
   <td align="right">367kB</td>
   <td><tt>547ffb4e9f0715307505c7df1ef78526fac543dfe927cf6c63f5502ee8bce7d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kde-dev-utils-24.08.3.tar.xz">kde-dev-utils-24.08.3</a></td>
   <td align="right">73kB</td>
   <td><tt>9d6bbbe777e56acb7c8c129b28a9185af579bcdf8b799eafe5a9a4fd603433e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kdeedu-data-24.08.3.tar.xz">kdeedu-data-24.08.3</a></td>
   <td align="right">330kB</td>
   <td><tt>1ce17eb4e7070d3ffa7cfaaecd2d97b1c52bdf3c39187d880f708f6f2ffaa28f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kdegraphics-mobipocket-24.08.3.tar.xz">kdegraphics-mobipocket-24.08.3</a></td>
   <td align="right">12kB</td>
   <td><tt>ee4e959aa6d9753b3e715b98da92251da41621e387fe06531f0a6fad057fa34a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kdegraphics-thumbnailers-24.08.3.tar.xz">kdegraphics-thumbnailers-24.08.3</a></td>
   <td align="right">47kB</td>
   <td><tt>b5a743af91ba2cea77cdeb5514b167bba695d368ac2f237858e1a07579c73b58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kde-inotify-survey-24.08.3.tar.xz">kde-inotify-survey-24.08.3</a></td>
   <td align="right">230kB</td>
   <td><tt>b7d956e1b0f8e7d593393181255b1ed9c60ec2f0a1c88b1e9b6c0570f750b53a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kdenetwork-filesharing-24.08.3.tar.xz">kdenetwork-filesharing-24.08.3</a></td>
   <td align="right">487kB</td>
   <td><tt>4e692bedb60b46c382086e0212325b8606593c079f1679b8ba2f9d43dc4c5d4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kdenlive-24.08.3.tar.xz">kdenlive-24.08.3</a></td>
   <td align="right">12686kB</td>
   <td><tt>b61b60c53bbd1657fe816bb3c08954f7b9f7c76a62d099fabd3cd9190a3bb39d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kdepim-addons-24.08.3.tar.xz">kdepim-addons-24.08.3</a></td>
   <td align="right">2550kB</td>
   <td><tt>0db2033c3c673766c3267391b528920c7ecf66bf2033a8a69c6eb4fca5b1a549</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kdepim-runtime-24.08.3.tar.xz">kdepim-runtime-24.08.3</a></td>
   <td align="right">1626kB</td>
   <td><tt>6c419b575f87b6cf62ba5da06ac2842e805a80b9918b92b37cfbba4286fcde6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kdesdk-kio-24.08.3.tar.xz">kdesdk-kio-24.08.3</a></td>
   <td align="right">40kB</td>
   <td><tt>4fb30057d79592b8c3e41740313508b6dd984effbbaeb56813b3aaaf54d952f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kdesdk-thumbnailers-24.08.3.tar.xz">kdesdk-thumbnailers-24.08.3</a></td>
   <td align="right">26kB</td>
   <td><tt>b7eb44c7fc270114836959b058205687a54a33ad7e5ce33ab90fb1f96d1a2df3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kdevelop-24.08.3.tar.xz">kdevelop-24.08.3</a></td>
   <td align="right">8612kB</td>
   <td><tt>a1690c9672e08064510e4d9c422a214b6d11a54cea5656e29c9445701af4cf71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kdev-php-24.08.3.tar.xz">kdev-php-24.08.3</a></td>
   <td align="right">1068kB</td>
   <td><tt>92271dfc85940f437b5222ec560dced716735f14302ed144a37260db4056e8b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kdev-python-24.08.3.tar.xz">kdev-python-24.08.3</a></td>
   <td align="right">1075kB</td>
   <td><tt>05644c30030bfd51cb541f803f05a42014cb5edf9ff5ebc23858211ace0ddcc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kdf-24.08.3.tar.xz">kdf-24.08.3</a></td>
   <td align="right">468kB</td>
   <td><tt>b5ebd98de00a91e2690e1cbaa258a1822d8429046f7c252eccf9e79705868eca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kdialog-24.08.3.tar.xz">kdialog-24.08.3</a></td>
   <td align="right">143kB</td>
   <td><tt>781a2e9b456563f06d9a2c0d3feac54f156b6b8d0d18094aa2b7a1cb45796fc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kdiamond-24.08.3.tar.xz">kdiamond-24.08.3</a></td>
   <td align="right">4563kB</td>
   <td><tt>4516134da17bdcec877d910b899b7ebee40ba96d87e58634956aea94a6b668af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/keditbookmarks-24.08.3.tar.xz">keditbookmarks-24.08.3</a></td>
   <td align="right">254kB</td>
   <td><tt>06346544f9877abf6c22723f36fed12e53042568fafb90d47a5e4e8ec82ac2a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/keysmith-24.08.3.tar.xz">keysmith-24.08.3</a></td>
   <td align="right">167kB</td>
   <td><tt>697b271dddb34567e4bfb88bdccc4077ffb8551ce810b172631578fd906da7b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kfind-24.08.3.tar.xz">kfind-24.08.3</a></td>
   <td align="right">321kB</td>
   <td><tt>926ee4365968d57700cd75c2a26576a42358a81548f7b6a9f35bd3f7dd097943</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kfourinline-24.08.3.tar.xz">kfourinline-24.08.3</a></td>
   <td align="right">728kB</td>
   <td><tt>594aa59841b0a2659625cc6f8968b5a6ece6720c1219b34fe803df8e10b46734</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kgeography-24.08.3.tar.xz">kgeography-24.08.3</a></td>
   <td align="right">12133kB</td>
   <td><tt>cda1a2b1c5a39909686eec9bb78b4cd227184d026e86177674871ae86551c636</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kget-24.08.3.tar.xz">kget-24.08.3</a></td>
   <td align="right">4799kB</td>
   <td><tt>ec80428d76ed39ba7c61645052e747aba4114e1569ed5d4b5bf1e7686677d880</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kgoldrunner-24.08.3.tar.xz">kgoldrunner-24.08.3</a></td>
   <td align="right">4240kB</td>
   <td><tt>0ce448316876f26aa1f59b4daade7b042a11bc87ea3d230af1f9c3d0aee0e86f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kgpg-24.08.3.tar.xz">kgpg-24.08.3</a></td>
   <td align="right">2958kB</td>
   <td><tt>90b14b8814c3518435c91998aca17bde27c10bf14c94e6218e12abb80b8a68ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kgraphviewer-24.08.3.tar.xz">kgraphviewer-24.08.3</a></td>
   <td align="right">1548kB</td>
   <td><tt>22b8187b1da18add8708c811d36290ff0d144238107b4b518d2500ee63c27647</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/khangman-24.08.3.tar.xz">khangman-24.08.3</a></td>
   <td align="right">6850kB</td>
   <td><tt>adedc00e472750b0a4397d5babdf57871901098f998d046573a975ed95eefc84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/khealthcertificate-24.08.3.tar.xz">khealthcertificate-24.08.3</a></td>
   <td align="right">502kB</td>
   <td><tt>36e7df340e19bda2c4cf2d9c430e03261d04dfc138c042a5741f14becd6223e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/khelpcenter-24.08.3.tar.xz">khelpcenter-24.08.3</a></td>
   <td align="right">4141kB</td>
   <td><tt>60bb7589521507cd5430d682c9cb5c4102ce3d84488d980975e636c2edbe86c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kidentitymanagement-24.08.3.tar.xz">kidentitymanagement-24.08.3</a></td>
   <td align="right">191kB</td>
   <td><tt>8ee75a5a90eb74046749704a6c24f3ff14ae4128afe9091edb8b68ab485f834d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kig-24.08.3.tar.xz">kig-24.08.3</a></td>
   <td align="right">3170kB</td>
   <td><tt>c8eed09076aa0b2f1e0712a9088f4aa4d09018f274306c2c5754024bdea3cf38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kigo-24.08.3.tar.xz">kigo-24.08.3</a></td>
   <td align="right">4719kB</td>
   <td><tt>3f46e03dde9da74d641c722cef9fc5d79de6dba1beac62e5a093d84211f54799</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/killbots-24.08.3.tar.xz">killbots-24.08.3</a></td>
   <td align="right">1145kB</td>
   <td><tt>3a5956adba41704df40475efbe60f42f4733ce3bb96f9618fd90c43ac09b0b30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kimagemapeditor-24.08.3.tar.xz">kimagemapeditor-24.08.3</a></td>
   <td align="right">1048kB</td>
   <td><tt>f28a58b6f88ce49bb484885c7ed2e7660e8fd593ba6c91c1df46230d337e17c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kimap-24.08.3.tar.xz">kimap-24.08.3</a></td>
   <td align="right">129kB</td>
   <td><tt>f2919b4d097e133ffd74a926f6f23b1cc8a80f36890ebe270dfb640d988d387f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kio-admin-24.08.3.tar.xz">kio-admin-24.08.3</a></td>
   <td align="right">37kB</td>
   <td><tt>0e71beff90815f6fbebac36b368550fba591e7a6a6da5046fae09bf341e43472</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kio-extras-24.08.3.tar.xz">kio-extras-24.08.3</a></td>
   <td align="right">3401kB</td>
   <td><tt>f4175717e2f2a5c730ba2f727113e8110c3a283c5f67603d369c2a3f561a68aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kio-gdrive-24.08.3.tar.xz">kio-gdrive-24.08.3</a></td>
   <td align="right">80kB</td>
   <td><tt>f8630c8d38f30707369698574530dee26be7927409e5a56ffa37d59b34ede5ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kio-zeroconf-24.08.3.tar.xz">kio-zeroconf-24.08.3</a></td>
   <td align="right">43kB</td>
   <td><tt>cd62820f6c8fc1ad59c87612acfa0762c2ff02e699a7eec93b7efe2282a7a084</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kirigami-gallery-24.08.3.tar.xz">kirigami-gallery-24.08.3</a></td>
   <td align="right">359kB</td>
   <td><tt>5120fbbe901992105db8d5d0dabb76297f786122a8700dc16041f7e20cc17dd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kiriki-24.08.3.tar.xz">kiriki-24.08.3</a></td>
   <td align="right">365kB</td>
   <td><tt>0a35983bbc83690b8d415233bc96b04df4f02e041221a2a569a6fa52de5d4777</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kiten-24.08.3.tar.xz">kiten-24.08.3</a></td>
   <td align="right">11047kB</td>
   <td><tt>42831f163cda6c7753e23eefb6de3c36de66ebd8eb315008ac715aac4a1e2320</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kitinerary-24.08.3.tar.xz">kitinerary-24.08.3</a></td>
   <td align="right">1945kB</td>
   <td><tt>f0ff4d103c93e24770d94432afd0acf456efca70e00d4749d734a5ff98cfd14b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kjournald-24.08.3.tar.xz">kjournald-24.08.3</a></td>
   <td align="right">508kB</td>
   <td><tt>af75081bdaeb1bc383401862de8db02981e7af4dc1942c97768f63fcbfc50c1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kjumpingcube-24.08.3.tar.xz">kjumpingcube-24.08.3</a></td>
   <td align="right">338kB</td>
   <td><tt>a3c4947b166a5fb19482c610c4291dd611f4f03f2fe04f3eac15e7c38205d945</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kldap-24.08.3.tar.xz">kldap-24.08.3</a></td>
   <td align="right">185kB</td>
   <td><tt>1e005ce817abd87528b25e5d77637e3792fc2f22d7d85cc04bc0b5967a08268c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kleopatra-24.08.3.tar.xz">kleopatra-24.08.3</a></td>
   <td align="right">2913kB</td>
   <td><tt>4ecec6ab0286dc49575a8788f2340454f8ecdffd7802143739d36abe12996f1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/klettres-24.08.3.tar.xz">klettres-24.08.3</a></td>
   <td align="right">46078kB</td>
   <td><tt>faa430274b5895ccd3c513b99e2605c0a8bc450fd0b9ccb895315297c60a1e9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/klickety-24.08.3.tar.xz">klickety-24.08.3</a></td>
   <td align="right">1354kB</td>
   <td><tt>22d637cbb22ecc5041f708f954f0526c14e3e98f138685152726bb4ffe593402</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/klines-24.08.3.tar.xz">klines-24.08.3</a></td>
   <td align="right">1634kB</td>
   <td><tt>2334444e8189cd3046a202b35152b7ee9a7bbe67989b4a376dbc1537b2a778e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kmag-24.08.3.tar.xz">kmag-24.08.3</a></td>
   <td align="right">661kB</td>
   <td><tt>69ee6135bcbd78d226d95dedd1d0b8669597d8f9414de83fcc416734d6869ec6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kmahjongg-24.08.3.tar.xz">kmahjongg-24.08.3</a></td>
   <td align="right">3632kB</td>
   <td><tt>1d915c338d4ebc830d8565d2abf36f232f023672fdca9ac73c18ab5675fb8659</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kmail-24.08.3.tar.xz">kmail-24.08.3</a></td>
   <td align="right">7560kB</td>
   <td><tt>56621aaf562e4b453aab263180376ee20a9964ad574b2b3c1d36e4286041462a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kmail-account-wizard-24.08.3.tar.xz">kmail-account-wizard-24.08.3</a></td>
   <td align="right">162kB</td>
   <td><tt>4e95d661443c9ba492804da8d1ef4ce0a4733e9c671299ceea937c5576458521</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kmailtransport-24.08.3.tar.xz">kmailtransport-24.08.3</a></td>
   <td align="right">183kB</td>
   <td><tt>bb1afa02df447753eed44026aa90c313d42401644ad1032c6c91371a91362e69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kmbox-24.08.3.tar.xz">kmbox-24.08.3</a></td>
   <td align="right">28kB</td>
   <td><tt>42ae591aa326fa899c80dbd78eb7402bab6511ca3a476ed7e9c0bfe81de3512b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kmime-24.08.3.tar.xz">kmime-24.08.3</a></td>
   <td align="right">162kB</td>
   <td><tt>17f21f3cd3a94fd3e0a741e5320c14d2f8db4c56b39111c32f7b0c3681437c47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kmines-24.08.3.tar.xz">kmines-24.08.3</a></td>
   <td align="right">926kB</td>
   <td><tt>792e38c94bc10a9dc5b2055b206bd811f0d5417b7f955a4eba37ae25e69c31ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kmix-24.08.3.tar.xz">kmix-24.08.3</a></td>
   <td align="right">1138kB</td>
   <td><tt>a67176dae5d300b6a4da375b5a4f3e29ed62bfa380a1055a5ac95aba4f31ef71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kmousetool-24.08.3.tar.xz">kmousetool-24.08.3</a></td>
   <td align="right">130kB</td>
   <td><tt>dcf64bf59b7584c988c0b4d891b045dd365b6a546bd6cfb7185a16203eed2b99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kmouth-24.08.3.tar.xz">kmouth-24.08.3</a></td>
   <td align="right">1894kB</td>
   <td><tt>d2bee0d8c99553f3d64d0ec54870b9cd8de6b01879ad2160e0bcd0d208b8944d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kmplot-24.08.3.tar.xz">kmplot-24.08.3</a></td>
   <td align="right">2951kB</td>
   <td><tt>8b8a09d62efc0a1486ee9a4d8b86711e9151733507a7eb5f332be50b0016d469</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/knavalbattle-24.08.3.tar.xz">knavalbattle-24.08.3</a></td>
   <td align="right">1023kB</td>
   <td><tt>7ffe681c2656d3e44b5082a3df3dc8b01dc1806220258193ace602d42bb3be04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/knetwalk-24.08.3.tar.xz">knetwalk-24.08.3</a></td>
   <td align="right">986kB</td>
   <td><tt>e1473f7944666e0f4b8e0cfaf2cd606d911c63424fc8a02696fd7229108bdc3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/knights-24.08.3.tar.xz">knights-24.08.3</a></td>
   <td align="right">2433kB</td>
   <td><tt>dedffcc0c3388e5c55c4ce252b8bf990f7afa475dda821b680e5de88d1e2db8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/koko-24.08.3.tar.xz">koko-24.08.3</a></td>
   <td align="right">8336kB</td>
   <td><tt>7faa6c783d715514010404e6618ff54930968e5221f9c43a2d2fff569427e0ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kolf-24.08.3.tar.xz">kolf-24.08.3</a></td>
   <td align="right">1053kB</td>
   <td><tt>5d29cb49afa2670faa4b378b25744f5547f69286378f90ae9aee1c97db14f5d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kollision-24.08.3.tar.xz">kollision-24.08.3</a></td>
   <td align="right">303kB</td>
   <td><tt>2592b48d01a40f48172c224980151a323cb90a11c1790cdd771c0732c64b0aba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kolourpaint-24.08.3.tar.xz">kolourpaint-24.08.3</a></td>
   <td align="right">5177kB</td>
   <td><tt>0ecff8f93e106becf92c653f155d063167c1ba146f92eca93cb2a1b936baf15b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kompare-24.08.3.tar.xz">kompare-24.08.3</a></td>
   <td align="right">925kB</td>
   <td><tt>5f97670f6e4539d5521ab790114774dfd47e045e45a89f377fbeddcfc59c282e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kongress-24.08.3.tar.xz">kongress-24.08.3</a></td>
   <td align="right">152kB</td>
   <td><tt>47f445e7f91a30bf6f5c76820fceb8c3549062b4fdffc2a575e9e6b0b15d63e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/konqueror-24.08.3.tar.xz">konqueror-24.08.3</a></td>
   <td align="right">9488kB</td>
   <td><tt>8dea2ff8070830a50daefd3b84882cefb41153a89e25107fe2c621f8d62905d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/konquest-24.08.3.tar.xz">konquest-24.08.3</a></td>
   <td align="right">841kB</td>
   <td><tt>ff0e31ff42778fe0e584166d913a2db5481e716d90ef38a2538a197af6c9878d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/konsole-24.08.3.tar.xz">konsole-24.08.3</a></td>
   <td align="right">1761kB</td>
   <td><tt>687498a7eb8050549fd9a5bc94212f1cc7f33b81fee406b64a1ef6b7c65058da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kontact-24.08.3.tar.xz">kontact-24.08.3</a></td>
   <td align="right">848kB</td>
   <td><tt>0a225708752745681bc7ba5d6c7e694dd164c01542afd1d0573b7b20c7b05886</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kontactinterface-24.08.3.tar.xz">kontactinterface-24.08.3</a></td>
   <td align="right">39kB</td>
   <td><tt>bab11c2bd9f0f7008e2f044ce8563b3df7ecea1066a060590ff02676c0b50225</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kontrast-24.08.3.tar.xz">kontrast-24.08.3</a></td>
   <td align="right">211kB</td>
   <td><tt>c33d549576d230f9f4a2128bf8a2567fc0366ea8e04327ba61ba9462c24cf9c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/konversation-24.08.3.tar.xz">konversation-24.08.3</a></td>
   <td align="right">4308kB</td>
   <td><tt>75f5a64890cfe895214dfefb08705af944b63ea9816c628391ef13ca047cb35b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kopeninghours-24.08.3.tar.xz">kopeninghours-24.08.3</a></td>
   <td align="right">72kB</td>
   <td><tt>847880d4ae9887e0ab502ca9ca934a60259e3b4685de50d4a72b0089ed9caeb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/korganizer-24.08.3.tar.xz">korganizer-24.08.3</a></td>
   <td align="right">2869kB</td>
   <td><tt>abea5028fee888d3f4e3a7b8e2c2c31b678676008bb14fc10ee6890498d69f60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kosmindoormap-24.08.3.tar.xz">kosmindoormap-24.08.3</a></td>
   <td align="right">676kB</td>
   <td><tt>37e859ccc525f0f5828f7d8c9de02a343928533ac20b48795e8b1791914a72f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kpat-24.08.3.tar.xz">kpat-24.08.3</a></td>
   <td align="right">3648kB</td>
   <td><tt>7e0f5e0a7d0ef8e9d6c61634c830f19f07d41d1253030e01d5ae601278288c1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kpimtextedit-24.08.3.tar.xz">kpimtextedit-24.08.3</a></td>
   <td align="right">172kB</td>
   <td><tt>7d24ee903fdd223ebd2817a07a21ae7b02a44f70093b80fa3421e7fab6c10f94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kpkpass-24.08.3.tar.xz">kpkpass-24.08.3</a></td>
   <td align="right">28kB</td>
   <td><tt>bace2a9d11d712d5a5b9f1e61c13b33ae450a29db730de807597e4ccec43ea48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kpmcore-24.08.3.tar.xz">kpmcore-24.08.3</a></td>
   <td align="right">631kB</td>
   <td><tt>3a2a10ad47976b596ef8a561297bb439f0b9027194d44c1135e83fa2cf3ec225</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kpublictransport-24.08.3.tar.xz">kpublictransport-24.08.3</a></td>
   <td align="right">726kB</td>
   <td><tt>6358b8d7c6dc19008ee9e585d393db8f141c6d5f77cfc18f3d30e7a4d6bc64fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kqtquickcharts-24.08.3.tar.xz">kqtquickcharts-24.08.3</a></td>
   <td align="right">30kB</td>
   <td><tt>43d85934d80702c9afa4b33728f3f0aa33d30b8b21c1fc9b819c19df581877fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/krdc-24.08.3.tar.xz">krdc-24.08.3</a></td>
   <td align="right">1519kB</td>
   <td><tt>2f04a408434702aee49caf9c0193c3471a049f341b0e8a36a773e7ed93810af0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/krecorder-24.08.3.tar.xz">krecorder-24.08.3</a></td>
   <td align="right">164kB</td>
   <td><tt>53697791693bc2fa7381b27a2a7060a0b90f724b052b39d6cb44b9953cfed378</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kreversi-24.08.3.tar.xz">kreversi-24.08.3</a></td>
   <td align="right">1008kB</td>
   <td><tt>8436d30bfa6b8ccace020ad34ee58bf6ab89f6dd3e4137bd295dd3dd10557f70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/krfb-24.08.3.tar.xz">krfb-24.08.3</a></td>
   <td align="right">1174kB</td>
   <td><tt>4b621387356bdb6c306405e30e2bd4859a170c781939ab0a120fb206e29a8c7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kross-interpreters-24.08.3.tar.xz">kross-interpreters-24.08.3</a></td>
   <td align="right">148kB</td>
   <td><tt>191034f126aff1d5a2f0381431281e5c3ee52880b2898e6b94fe0fb5aa12b0f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kruler-24.08.3.tar.xz">kruler-24.08.3</a></td>
   <td align="right">279kB</td>
   <td><tt>05c6881cd9fdeb2efdec25ca0e30f2c1135e97753de60b7799067ec844ecd5c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/ksanecore-24.08.3.tar.xz">ksanecore-24.08.3</a></td>
   <td align="right">49kB</td>
   <td><tt>79b241ee768abf668721e2dccc9445041a289716208afaa7832940ae58feeffa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kshisen-24.08.3.tar.xz">kshisen-24.08.3</a></td>
   <td align="right">948kB</td>
   <td><tt>fbdd6e62db1fc060a405ed1593c9e11449bf4e3370b5b35efc273f0280112546</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/ksirk-24.08.3.tar.xz">ksirk-24.08.3</a></td>
   <td align="right">6543kB</td>
   <td><tt>449b202b743359bce4c589fab0da4b17912dac12cdca0a7f85d5cae6c0f028a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/ksmtp-24.08.3.tar.xz">ksmtp-24.08.3</a></td>
   <td align="right">51kB</td>
   <td><tt>569756c6e000c12cd6a9e0475bb3dc05b22ebb82ad79ea95a5f078db960e41b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/ksnakeduel-24.08.3.tar.xz">ksnakeduel-24.08.3</a></td>
   <td align="right">564kB</td>
   <td><tt>f47a3523b12952f523e4c2e312ba21ddb1ade546cafe2f08b2000a6659d7dedb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kspaceduel-24.08.3.tar.xz">kspaceduel-24.08.3</a></td>
   <td align="right">620kB</td>
   <td><tt>593415af3bc7a9ef160c7a2e38c3dc595353f5bdc3372fb70805e181a1da8f4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/ksquares-24.08.3.tar.xz">ksquares-24.08.3</a></td>
   <td align="right">314kB</td>
   <td><tt>35f921f031604e5d73fba3327100777bef39473abe0dd2a1ff2d0fa8748d2e88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/ksudoku-24.08.3.tar.xz">ksudoku-24.08.3</a></td>
   <td align="right">1688kB</td>
   <td><tt>02310c9713911bd290ae96bd15f64aafe1b6174861a620b51ff870530e6a9629</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/ksystemlog-24.08.3.tar.xz">ksystemlog-24.08.3</a></td>
   <td align="right">1814kB</td>
   <td><tt>3e584e80650e544c5941eacc587db0f183fe21a1882ac2a0ee7d89d9c9bb59f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kteatime-24.08.3.tar.xz">kteatime-24.08.3</a></td>
   <td align="right">301kB</td>
   <td><tt>c5c1cd11730a98bb54e93d069968a69e016dce445f59bf322b61541885038c21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/ktimer-24.08.3.tar.xz">ktimer-24.08.3</a></td>
   <td align="right">441kB</td>
   <td><tt>f2de1039a6e655f1f99778c296f081d5ef3074ca2baa91196cbdb6a5a2a920f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/ktnef-24.08.3.tar.xz">ktnef-24.08.3</a></td>
   <td align="right">305kB</td>
   <td><tt>060123657be39abf57ef262974b4e971ee49ddce508b8e3ce3a27e3efc80c858</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/ktorrent-24.08.3.tar.xz">ktorrent-24.08.3</a></td>
   <td align="right">2136kB</td>
   <td><tt>3705b9bdbd5da51da8a0d006b9a7a6db032e6f7061e22709c1146aa5d17cad40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/ktouch-24.08.3.tar.xz">ktouch-24.08.3</a></td>
   <td align="right">4671kB</td>
   <td><tt>ffa85b2de8d454b41fc8a9ed92032e1c45684990872ca958619ba5341e127ee0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/ktrip-24.08.3.tar.xz">ktrip-24.08.3</a></td>
   <td align="right">1014kB</td>
   <td><tt>b7f86b60e330a92c480423f12587daaf0d3fb6a3ca53a1c56bb5468a832154b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/ktuberling-24.08.3.tar.xz">ktuberling-24.08.3</a></td>
   <td align="right">69867kB</td>
   <td><tt>8e2a930a569998271c551d53520ebc2b27fba62266e374a6d73d7be44aa5d3f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kturtle-24.08.3.tar.xz">kturtle-24.08.3</a></td>
   <td align="right">2045kB</td>
   <td><tt>02d836e377ad8428d9149a5f5496f0c6c22ddf362f92273130e49f4b866475b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kubrick-24.08.3.tar.xz">kubrick-24.08.3</a></td>
   <td align="right">365kB</td>
   <td><tt>2520a3fb7b2cd196eb164d62e113f170aec225db4868091a0fd5cb58f683541c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kwalletmanager-24.08.3.tar.xz">kwalletmanager-24.08.3</a></td>
   <td align="right">1022kB</td>
   <td><tt>aebd0c0d9327661774a137f1a575f4b895eff0085f3c83b21fb1008b7bb1a4bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kwave-24.08.3.tar.xz">kwave-24.08.3</a></td>
   <td align="right">6398kB</td>
   <td><tt>8a3d18b3c3a40451c60b4989baab162202bfaa842e00265eab30013de9190885</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kweather-24.08.3.tar.xz">kweather-24.08.3</a></td>
   <td align="right">407kB</td>
   <td><tt>37a0a09d4953cf4c279d1710ecae73762166d8ed54b8bb801cc1770497b5bd4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kweathercore-24.08.3.tar.xz">kweathercore-24.08.3</a></td>
   <td align="right">73kB</td>
   <td><tt>9c80673855cb7fa67b5552753ffb8039672a36620fb790690c40bb1c06fd3dfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/kwordquiz-24.08.3.tar.xz">kwordquiz-24.08.3</a></td>
   <td align="right">3688kB</td>
   <td><tt>e2fb02c238d6f67b7acfc8d3dc4e7ebd4644be6a9e30c87a9ec3cb453a20aa1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/libgravatar-24.08.3.tar.xz">libgravatar-24.08.3</a></td>
   <td align="right">37kB</td>
   <td><tt>1636a11374b1ef30baf57764bbf71a853e8205380c414d926ee5a9f06a9c89e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/libkcddb-24.08.3.tar.xz">libkcddb-24.08.3</a></td>
   <td align="right">438kB</td>
   <td><tt>c4275d94a4cb864cde5061017b523a220ca953a636ba9755bd635d9def941b19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/libkcompactdisc-24.08.3.tar.xz">libkcompactdisc-24.08.3</a></td>
   <td align="right">97kB</td>
   <td><tt>8d54480bf2568a0b799c6631459bf6d1113e2153c1d564aeff3e46fd2c084145</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/libkdcraw-24.08.3.tar.xz">libkdcraw-24.08.3</a></td>
   <td align="right">36kB</td>
   <td><tt>f106c081a36dc1395c36ce950411b760ebd9156b002bc78e1271ee1e622d0055</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/libkdegames-24.08.3.tar.xz">libkdegames-24.08.3</a></td>
   <td align="right">5854kB</td>
   <td><tt>6bcb2e0c6737f9b8a946e9d0b974164fb05b4165632bb59743fb19e04dbf94ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/libkdepim-24.08.3.tar.xz">libkdepim-24.08.3</a></td>
   <td align="right">276kB</td>
   <td><tt>0f83346e37934edf5c8be25daf82e3f692a1ebb2912f707d2e55d8977760fd05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/libkeduvocdocument-24.08.3.tar.xz">libkeduvocdocument-24.08.3</a></td>
   <td align="right">222kB</td>
   <td><tt>d9bfd4e7f67b159352a5e6c12feef2b91eae44449515432fb72c345a37c4f1c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/libkexiv2-24.08.3.tar.xz">libkexiv2-24.08.3</a></td>
   <td align="right">59kB</td>
   <td><tt>9f3865411afb594ad2da9f2907e5124277f662be3f4c614bd4d5ccc36cfb8906</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/libkgapi-24.08.3.tar.xz">libkgapi-24.08.3</a></td>
   <td align="right">331kB</td>
   <td><tt>b7135bfa5fe0dea4391f812d4aa18d08adc11606746168f0abbc1e50faba4c47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/libkleo-24.08.3.tar.xz">libkleo-24.08.3</a></td>
   <td align="right">591kB</td>
   <td><tt>be70b2790bb7f8c46e1e28a5d28002fb967f102f416afbee738812dbc4fd7fea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/libkmahjongg-24.08.3.tar.xz">libkmahjongg-24.08.3</a></td>
   <td align="right">1653kB</td>
   <td><tt>f5b716f5cbcda4dce161d90fd9a97de4917ef9725404b20e262de1b38f976fb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/libkomparediff2-24.08.3.tar.xz">libkomparediff2-24.08.3</a></td>
   <td align="right">183kB</td>
   <td><tt>ed9098ec77d56e1ee8e28814c28f6d034af3f1723eab5b27dfe7152669e97a67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/libksane-24.08.3.tar.xz">libksane-24.08.3</a></td>
   <td align="right">150kB</td>
   <td><tt>67855ea458ac9d37925f09f5816c8813a1db04f49c10803bc1265b9d566de1af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/libksieve-24.08.3.tar.xz">libksieve-24.08.3</a></td>
   <td align="right">588kB</td>
   <td><tt>7ba274cb2dda9b1dbe539b4b4ab75d0a140267547d8114f7b0f563c547d3ae99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/libktorrent-24.08.3.tar.xz">libktorrent-24.08.3</a></td>
   <td align="right">591kB</td>
   <td><tt>58243287e78a86a212af400cc3cfc4ded1a0837a2ebbf6898eeb67b5bb02d4fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/lokalize-24.08.3.tar.xz">lokalize-24.08.3</a></td>
   <td align="right">2006kB</td>
   <td><tt>e4b875ff4a5494b57c0b38e41c40f1912c0e88187d8a40e838a11877464d96d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/lskat-24.08.3.tar.xz">lskat-24.08.3</a></td>
   <td align="right">1198kB</td>
   <td><tt>2e8c06c55e9ab8395e8bb4f3e194655647f9ffe655e3165938627d41277ec554</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/mailcommon-24.08.3.tar.xz">mailcommon-24.08.3</a></td>
   <td align="right">764kB</td>
   <td><tt>d83a7778c2a78aa80618065186b04e2e411853a597ef710cdacecb3070a9670a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/mailimporter-24.08.3.tar.xz">mailimporter-24.08.3</a></td>
   <td align="right">582kB</td>
   <td><tt>c81b30b7644d315a667d158f6f519e9144a8fb3353f474e576f41d39564358cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/marble-24.08.3.tar.xz">marble-24.08.3</a></td>
   <td align="right">51220kB</td>
   <td><tt>c53c1faa741e1b424594c2021fa4edc620528e862ceff280cb3c952d1af20371</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/markdownpart-24.08.3.tar.xz">markdownpart-24.08.3</a></td>
   <td align="right">33kB</td>
   <td><tt>fe2792858fd5207c6fe70f5bdf4b0ebc30001f8f72b08066d61b668d2316b347</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/massif-visualizer-24.08.3.tar.xz">massif-visualizer-24.08.3</a></td>
   <td align="right">272kB</td>
   <td><tt>05bf9ac68e57c49cbd39f4803286a67d389e9bba14f6cb87eefa53ec13b672db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/mbox-importer-24.08.3.tar.xz">mbox-importer-24.08.3</a></td>
   <td align="right">31kB</td>
   <td><tt>b1fffab1ac1e9976d775f919ac999e4c2dcbdee46788700fcc3f2e549c3b73c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/merkuro-24.08.3.tar.xz">merkuro-24.08.3</a></td>
   <td align="right">756kB</td>
   <td><tt>2057b484b6c2940f5430a4c6cfaf91cdf27f7bb1df77807f04143a94331f9722</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/messagelib-24.08.3.tar.xz">messagelib-24.08.3</a></td>
   <td align="right">7196kB</td>
   <td><tt>e67ce81f227c9fad4c4181863b5662f2d187c8842ad8e5d82c51eeeb272fdbdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/mimetreeparser-24.08.3.tar.xz">mimetreeparser-24.08.3</a></td>
   <td align="right">630kB</td>
   <td><tt>7a74d0884c88d3ed0ddab0f6ab33709f8a834c91d7a19d41b66c23e3a94f2384</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/minuet-24.08.3.tar.xz">minuet-24.08.3</a></td>
   <td align="right">27047kB</td>
   <td><tt>6fcf2f59be6d9079e268a70a96971eb991ccac29100dfcfd97e70fa41aa05fa0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/neochat-24.08.3.tar.xz">neochat-24.08.3</a></td>
   <td align="right">1006kB</td>
   <td><tt>f28988f68ebf405b0c448ab9f8e4ddace819e08e86fad9d6b2149bb98e7d0f09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/okular-24.08.3.tar.xz">okular-24.08.3</a></td>
   <td align="right">7861kB</td>
   <td><tt>b398ab3302edd540c56ddd826f31d83a246e9a53c86a52e033347ab947fedc9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/palapeli-24.08.3.tar.xz">palapeli-24.08.3</a></td>
   <td align="right">2073kB</td>
   <td><tt>da3965bb8ac117d95d947434958d5bf409247c3ec916b747da685698ed5ec5f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/parley-24.08.3.tar.xz">parley-24.08.3</a></td>
   <td align="right">8236kB</td>
   <td><tt>336515c9a67c876c4c48871fe62dc80d261b252f6dbe1a788b127c988b09d62d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/partitionmanager-24.08.3.tar.xz">partitionmanager-24.08.3</a></td>
   <td align="right">2267kB</td>
   <td><tt>7a3d9ba7ac1603a4c4024270de640e09a9ecae76159ebca70f6402ba607df9cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/picmi-24.08.3.tar.xz">picmi-24.08.3</a></td>
   <td align="right">1483kB</td>
   <td><tt>3b0e493b17d913bfb7d8047bb34588056816affdacedf570aa7d0ff55aee5ac0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/pimcommon-24.08.3.tar.xz">pimcommon-24.08.3</a></td>
   <td align="right">342kB</td>
   <td><tt>ccc247077f5d4b534f4babe2021b682e8c5719d574334e859fda4400572f3b2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/pim-data-exporter-24.08.3.tar.xz">pim-data-exporter-24.08.3</a></td>
   <td align="right">416kB</td>
   <td><tt>2ba87c640ef136d4f82781952fc017bee50ce1919c594a6659c4f12ccafa1977</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/pim-sieve-editor-24.08.3.tar.xz">pim-sieve-editor-24.08.3</a></td>
   <td align="right">459kB</td>
   <td><tt>00d16f30ecdf730f84a300d6dc790f56faf901ac6591282c389bdc0707dd6eb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/plasmatube-24.08.3.tar.xz">plasmatube-24.08.3</a></td>
   <td align="right">200kB</td>
   <td><tt>e01bd34cc5158b12baaa665256d850568ee69d5556a43ba5e3b9783a5a2abc3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/poxml-24.08.3.tar.xz">poxml-24.08.3</a></td>
   <td align="right">44kB</td>
   <td><tt>d80b9c2f7f78aa43679e040719cf78bd05823c5315d69a761ad92703975606f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/qmlkonsole-24.08.3.tar.xz">qmlkonsole-24.08.3</a></td>
   <td align="right">192kB</td>
   <td><tt>b5e0dd41a485d672908eaff62ca1ce7dfe3112fa218dfffacf5f8aef64dc802a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/rocs-24.08.3.tar.xz">rocs-24.08.3</a></td>
   <td align="right">1529kB</td>
   <td><tt>2565bcb392885cf09e402c8a3cbb33ee32865485729c86c004f15f703b03c2d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/signon-kwallet-extension-24.08.3.tar.xz">signon-kwallet-extension-24.08.3</a></td>
   <td align="right">11kB</td>
   <td><tt>b1a45f680de80a53fcefab707dbaedd750c3c1fc638d99bd9c6a65c11a0bfc8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/skanlite-24.08.3.tar.xz">skanlite-24.08.3</a></td>
   <td align="right">2328kB</td>
   <td><tt>0e72757a504fe73addb4165732b8c9dd47a4d86b16f013ebeb139e59c28ac5e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/skanpage-24.08.3.tar.xz">skanpage-24.08.3</a></td>
   <td align="right">1302kB</td>
   <td><tt>27746a6b0ebdf99787b4db2eb476f82201ff75e602e9c24fa9c7702d7d3f0f2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/skladnik-24.08.3.tar.xz">skladnik-24.08.3</a></td>
   <td align="right">400kB</td>
   <td><tt>c97e8b483b009313d41a5e9ff93bc23401182a2eda06b192f9bc1121180a0eee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/spectacle-24.08.3.tar.xz">spectacle-24.08.3</a></td>
   <td align="right">1519kB</td>
   <td><tt>447ab462a07ecd583cab879ce7118fbfc4635b370a00f10e14978b1f9ba66dfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/step-24.08.3.tar.xz">step-24.08.3</a></td>
   <td align="right">964kB</td>
   <td><tt>11ac28e527eb866de515cdfe357160ecda35382a33912f9524791d2848716448</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/svgpart-24.08.3.tar.xz">svgpart-24.08.3</a></td>
   <td align="right">29kB</td>
   <td><tt>1a49d0910fe0ec77fbbee2c6413a5d067aebc8a3dba75747c62087c2936091dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/sweeper-24.08.3.tar.xz">sweeper-24.08.3</a></td>
   <td align="right">374kB</td>
   <td><tt>a5e9a77eb9986b3655e8b65914e6657db66032f20ed2f99d80d3c5423adb081f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/telly-skout-24.08.3.tar.xz">telly-skout-24.08.3</a></td>
   <td align="right">103kB</td>
   <td><tt>a0ab73df898b73ddff188ab7c9f86032c9f3a42b09f4c118c17ac28bb25e622a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/tokodon-24.08.3.tar.xz">tokodon-24.08.3</a></td>
   <td align="right">568kB</td>
   <td><tt>e2505fd1e09c11900f423f9b920e40a78a8f072f53192459ca7cf91040d987b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/umbrello-24.08.3.tar.xz">umbrello-24.08.3</a></td>
   <td align="right">5478kB</td>
   <td><tt>16d686a2ccfac97f11984dfe73a3c42d76ea1621cc25abc2258201784b3f9c4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/yakuake-24.08.3.tar.xz">yakuake-24.08.3</a></td>
   <td align="right">380kB</td>
   <td><tt>a487af0adcb805926ca6d1c317a9ec70e3f3ab4b45518b21bcb1a05ddcf9b914</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.08.3/src/zanshin-24.08.3.tar.xz">zanshin-24.08.3</a></td>
   <td align="right">368kB</td>
   <td><tt>83d22fe2c0be98fedfe1ba49ee50f08059640c93a3494c125656090dbcafe6da</tt></td>
</tr>

</table>
