<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/bluedevil-5.14.90.tar.xz">bluedevil-5.14.90</a></td>
   <td align="right">153kB</td>
   <td><tt>326125db9884d42c69b1f82cb47cd8669c51b313ac0e83a6a30090cb321e2e90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/breeze-5.14.90.tar.xz">breeze-5.14.90</a></td>
   <td align="right">23MB</td>
   <td><tt>4d26b980f0625897e0cebfb5669ab67cb102544a922a2131ac2b1ea36fd11386</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/breeze-grub-5.14.90.tar.xz">breeze-grub-5.14.90</a></td>
   <td align="right">2.9MB</td>
   <td><tt>ac6fd37b1608bc2838e06818d157204cae333be249f3842aab932beb5964a386</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/breeze-gtk-5.14.90.tar.xz">breeze-gtk-5.14.90</a></td>
   <td align="right">46kB</td>
   <td><tt>699fa44bc4a265b4ea118b835c180fc5c33efa159f0f49ccc5e880b0c587ff48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/breeze-plymouth-5.14.90.tar.xz">breeze-plymouth-5.14.90</a></td>
   <td align="right">102kB</td>
   <td><tt>7654d4048d8473c2a65215a4e2866316e7c37f1ab3e2f924a730806a33dacbc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/discover-5.14.90.tar.xz">discover-5.14.90</a></td>
   <td align="right">9.9MB</td>
   <td><tt>34dcf5fe2a6817092ce6fa97bbcbd711fc361dce5f38f9146de02a11092b8a71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/drkonqi-5.14.90.tar.xz">drkonqi-5.14.90</a></td>
   <td align="right">721kB</td>
   <td><tt>2c18ce67bbabf88a11450c906b6fe2bac9fc60d0486aa4ab0813323c8b85ef63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/kactivitymanagerd-5.14.90.tar.xz">kactivitymanagerd-5.14.90</a></td>
   <td align="right">82kB</td>
   <td><tt>cf2f5e1f4a9c4312515e2c8dfbbab6b9dfe156de29c57dc9c595cf813d3e2488</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/kde-cli-tools-5.14.90.tar.xz">kde-cli-tools-5.14.90</a></td>
   <td align="right">571kB</td>
   <td><tt>0a8302d3fdabbb07a13312f24545024d246dcea2cb858344ced1fb2aad0df37c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/kde-gtk-config-5.14.90.tar.xz">kde-gtk-config-5.14.90</a></td>
   <td align="right">152kB</td>
   <td><tt>45bf3eca6ef7a88ef7e0cefc637f73612df7b179d51da133b945f59e55353287</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/kdecoration-5.14.90.tar.xz">kdecoration-5.14.90</a></td>
   <td align="right">41kB</td>
   <td><tt>36287b402ad166909c31fd4cc2f716537e4abfdccc41ae5d05134f4215145ded</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/kdeplasma-addons-5.14.90.tar.xz">kdeplasma-addons-5.14.90</a></td>
   <td align="right">589kB</td>
   <td><tt>0c4eb88b39ecc65fc00b59f3e3724de81a8dc18cea188372427bcaf39543c8e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/kgamma5-5.14.90.tar.xz">kgamma5-5.14.90</a></td>
   <td align="right">77kB</td>
   <td><tt>04400df004f302ab27fcc196eaee032407f56250d334ddbb3d872406554f4e5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/khotkeys-5.14.90.tar.xz">khotkeys-5.14.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>7af0eba38115dcb38e990678842815bb9b2327ef26cfd86f9921ddf4d2300781</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/kinfocenter-5.14.90.tar.xz">kinfocenter-5.14.90</a></td>
   <td align="right">1.2MB</td>
   <td><tt>2b8f4fe17cefcf87f747a5f02cbfee1d4abada533131d7bb874458217703fb7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/kmenuedit-5.14.90.tar.xz">kmenuedit-5.14.90</a></td>
   <td align="right">790kB</td>
   <td><tt>abcc636ecb0d6e6f4be5526b9386ea426902b007f278af9264fc2280ce8284dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/kscreen-5.14.90.tar.xz">kscreen-5.14.90</a></td>
   <td align="right">120kB</td>
   <td><tt>6e9c2b9cd59a7a0d4024932e9f5f3baf12f8e32dfbb4643f0f8775fc6e05907a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/kscreenlocker-5.14.90.tar.xz">kscreenlocker-5.14.90</a></td>
   <td align="right">119kB</td>
   <td><tt>06d7ecfb73190c89843c3a357fd8b89a86f9d61d1b2374db874b572bf6c518b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/ksshaskpass-5.14.90.tar.xz">ksshaskpass-5.14.90</a></td>
   <td align="right">20kB</td>
   <td><tt>cee34ee2635ae4a651a67bb96f68cf49329602493c67a3b4cfd7eaa3e20ce0ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/ksysguard-5.14.90.tar.xz">ksysguard-5.14.90</a></td>
   <td align="right">488kB</td>
   <td><tt>5779e729b71b555164f6f85025e97337a9ca720a2e51b79113690c130323afa0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/kwallet-pam-5.14.90.tar.xz">kwallet-pam-5.14.90</a></td>
   <td align="right">18kB</td>
   <td><tt>fed9b2dfcbe8bf36328d881db73193bce2a6b84a62dac477ed8ab58564c6c3da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/kwayland-integration-5.14.90.tar.xz">kwayland-integration-5.14.90</a></td>
   <td align="right">18kB</td>
   <td><tt>0b7b5a1a611e78910e7478ee594af7483c003e0cb5ddd410efdb9178b171e6af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/kwin-5.14.90.tar.xz">kwin-5.14.90</a></td>
   <td align="right">5.9MB</td>
   <td><tt>a98bffeffcd767bec7e7755bf557521bc051d67aa97b7d4a5b03e0815d904b41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/kwrited-5.14.90.tar.xz">kwrited-5.14.90</a></td>
   <td align="right">19kB</td>
   <td><tt>e5025a3d4c59bfdd3e73940cd3c97a44fa6fd9058ed4d176d29fad6aa77bc7e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/libkscreen-5.14.90.tar.xz">libkscreen-5.14.90</a></td>
   <td align="right">79kB</td>
   <td><tt>162e954f24db40bce7f687e45418bc90d05263975ebae4b7315dc55d52d34048</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/libksysguard-5.14.90.tar.xz">libksysguard-5.14.90</a></td>
   <td align="right">562kB</td>
   <td><tt>4a6f7947eea6ede48d3c5e208d8286ec30e6d8b0a4b42cf49e31d91a5a0b8bda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/milou-5.14.90.tar.xz">milou-5.14.90</a></td>
   <td align="right">55kB</td>
   <td><tt>549192c5d3bd9da5afaf3c5ab33ed7aa16b6072c7b1e19361a76235dcab9f74b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/oxygen-5.14.90.tar.xz">oxygen-5.14.90</a></td>
   <td align="right">4.2MB</td>
   <td><tt>712e7ebbb079291a10efd68c9e60ff61cce2ec0a11bf18f75d9e9db572c841fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/plasma-browser-integration-5.14.90.tar.xz">plasma-browser-integration-5.14.90</a></td>
   <td align="right">108kB</td>
   <td><tt>925921a3ca7bdc971896f869f63ad451d4cc5f5a51b6f559df2c2a1cea2db35f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/plasma-desktop-5.14.90.tar.xz">plasma-desktop-5.14.90</a></td>
   <td align="right">8.6MB</td>
   <td><tt>08643cca4a2a99e9475517018ca74b3fb9cce0148edaa8d7518f321b97ed62e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/plasma-integration-5.14.90.tar.xz">plasma-integration-5.14.90</a></td>
   <td align="right">53kB</td>
   <td><tt>679f2afc22908c29f951b54eea068aef9d2a269e8edd9eab45788b0baccc9646</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/plasma-nm-5.14.90.tar.xz">plasma-nm-5.14.90</a></td>
   <td align="right">749kB</td>
   <td><tt>d525f6e5b2849ce9d4311a3356efd6cb5787ac7a9601b9ee4d67d296ebf673d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/plasma-pa-5.14.90.tar.xz">plasma-pa-5.14.90</a></td>
   <td align="right">92kB</td>
   <td><tt>ba301eba0c97a5c45b02a7e02142418a3e04b704a6eea3d214af72de3acfd7f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/plasma-sdk-5.14.90.tar.xz">plasma-sdk-5.14.90</a></td>
   <td align="right">243kB</td>
   <td><tt>7a34a7f4bc3425112c9ab364808716a37f6fec8466673ecbbdc9b62c8b66f51b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/plasma-tests-5.14.90.tar.xz">plasma-tests-5.14.90</a></td>
   <td align="right">1kB</td>
   <td><tt>1503e8dcabeb363d79be049222e63000f96a5da49b270c82d9e36d03793fd18c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/plasma-vault-5.14.90.tar.xz">plasma-vault-5.14.90</a></td>
   <td align="right">118kB</td>
   <td><tt>bfd72a7765f7bc7e50f1885f891698af8131ecae3e5870299d70bc6253107f2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/plasma-workspace-5.14.90.tar.xz">plasma-workspace-5.14.90</a></td>
   <td align="right">4.4MB</td>
   <td><tt>249d81e6e7d721e9aa4c479d1235162ba17b3e5a78b2d16d570adf6384e1ea73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/plasma-workspace-wallpapers-5.14.90.tar.xz">plasma-workspace-wallpapers-5.14.90</a></td>
   <td align="right">23MB</td>
   <td><tt>3d007d9fa144368ecbd77378f2c47df94ea64df8c6cfda12c19c2a8fabd9f11f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/plymouth-kcm-5.14.90.tar.xz">plymouth-kcm-5.14.90</a></td>
   <td align="right">38kB</td>
   <td><tt>f12f5016ee5f430b958ef4a367f408fd6ecf0ad12be59d71dda25d4cfa86b51d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/polkit-kde-agent-1-5.14.90.tar.xz">polkit-kde-agent-1-5.14.90</a></td>
   <td align="right">41kB</td>
   <td><tt>9e3f0a01299a6d3654a10fddf22b1460ce3dd3e3eaacfc04e5e0f240d505700e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/powerdevil-5.14.90.tar.xz">powerdevil-5.14.90</a></td>
   <td align="right">585kB</td>
   <td><tt>73f7c94738c0c726c7e23bf42df3ec9f68b84c87b6cb7344d43261bd5a5e5c69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/sddm-kcm-5.14.90.tar.xz">sddm-kcm-5.14.90</a></td>
   <td align="right">59kB</td>
   <td><tt>a4f0db27d7657ac34bd497270c7941d29e6110a5a5e6591e1271adfbfd5326db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/systemsettings-5.14.90.tar.xz">systemsettings-5.14.90</a></td>
   <td align="right">174kB</td>
   <td><tt>9411d19aa91fc237d9d493bd6e37653717f1b6855012d23acaa29d80afaa1117</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/user-manager-5.14.90.tar.xz">user-manager-5.14.90</a></td>
   <td align="right">532kB</td>
   <td><tt>4ed98836bc6541552bf5bdfb7758c9033d912e70b1cb9e2af70800fca57c8799</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.14.90/xdg-desktop-portal-kde-5.14.90.tar.xz">xdg-desktop-portal-kde-5.14.90</a></td>
   <td align="right">58kB</td>
   <td><tt>d5f4ac48c895fcc9c5aa4521cee75579f6c72ed38f7cf9bcea1fd02198e4e808</tt></td>
</tr>

</table>
