
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/attica-5.58.0.tar.xz">attica-5.58.0</a></td>
   <td align="right">61kB</td>
   <td><tt>471a24ea73a901b61150b09f574619bf9d178e50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/baloo-5.58.0.tar.xz">baloo-5.58.0</a></td>
   <td align="right">236kB</td>
   <td><tt>4d470d719679e1067eea54c1ff746db57671c03e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/bluez-qt-5.58.0.tar.xz">bluez-qt-5.58.0</a></td>
   <td align="right">79kB</td>
   <td><tt>4fe79f43931d91762339a8ff3a5051d423e2518d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/breeze-icons-5.58.0.tar.xz">breeze-icons-5.58.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>3b4e32a0b03d55904d8428d8a295835406eef6c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/extra-cmake-modules-5.58.0.tar.xz">extra-cmake-modules-5.58.0</a></td>
   <td align="right">318kB</td>
   <td><tt>a427179abb3037ca4b7652a7879b36ee2be34daa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/frameworkintegration-5.58.0.tar.xz">frameworkintegration-5.58.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>cb277a7ad86c3b8b8f7af060cbbcb8fbe445319d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kactivities-5.58.0.tar.xz">kactivities-5.58.0</a></td>
   <td align="right">60kB</td>
   <td><tt>899efcb5fdb0066f6ebe618f20f1fb98339e92d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kactivities-stats-5.58.0.tar.xz">kactivities-stats-5.58.0</a></td>
   <td align="right">59kB</td>
   <td><tt>06e5f7ad302092d1f8ba392bb95bff4a1d9e1f4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kapidox-5.58.0.tar.xz">kapidox-5.58.0</a></td>
   <td align="right">388kB</td>
   <td><tt>7d6d584c3745f32e97769142df59577881e852ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/karchive-5.58.0.tar.xz">karchive-5.58.0</a></td>
   <td align="right">430kB</td>
   <td><tt>23e88445921c5bf5e0345a6041c28c90de8aab19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kauth-5.58.0.tar.xz">kauth-5.58.0</a></td>
   <td align="right">83kB</td>
   <td><tt>b38fe703fb09e5acbd5f674d702b1c71668157e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kbookmarks-5.58.0.tar.xz">kbookmarks-5.58.0</a></td>
   <td align="right">116kB</td>
   <td><tt>09d5dd4bba48a2e7f62b31d3b5d141ef7156af82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kcmutils-5.58.0.tar.xz">kcmutils-5.58.0</a></td>
   <td align="right">231kB</td>
   <td><tt>ed2f38b0da7cb235528de6482630a9e15ca3c5a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kcodecs-5.58.0.tar.xz">kcodecs-5.58.0</a></td>
   <td align="right">214kB</td>
   <td><tt>280ea285737fcbbd2123beec97a858adcfb09003</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kcompletion-5.58.0.tar.xz">kcompletion-5.58.0</a></td>
   <td align="right">112kB</td>
   <td><tt>648c9064ec5dd9c9a64d638e82601c1283812d35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kconfig-5.58.0.tar.xz">kconfig-5.58.0</a></td>
   <td align="right">234kB</td>
   <td><tt>dd5331ee5b05007f48c25e77c1c481ccb1a90cdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kconfigwidgets-5.58.0.tar.xz">kconfigwidgets-5.58.0</a></td>
   <td align="right">367kB</td>
   <td><tt>0edd006fd78e1ca5684b02bbfc355a26e6f125c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kcoreaddons-5.58.0.tar.xz">kcoreaddons-5.58.0</a></td>
   <td align="right">356kB</td>
   <td><tt>132153eef8d0fc2fcd7793cfd50849d3cfba0910</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kcrash-5.58.0.tar.xz">kcrash-5.58.0</a></td>
   <td align="right">22kB</td>
   <td><tt>50e4644b41dbbe98c67621ce49689575fdf223a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kdbusaddons-5.58.0.tar.xz">kdbusaddons-5.58.0</a></td>
   <td align="right">36kB</td>
   <td><tt>95f18b4459940ecfa4e5950f2979de13933e401c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kdeclarative-5.58.0.tar.xz">kdeclarative-5.58.0</a></td>
   <td align="right">169kB</td>
   <td><tt>d92193450f7e14e505c90d70e1af694c0ce26553</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kded-5.58.0.tar.xz">kded-5.58.0</a></td>
   <td align="right">37kB</td>
   <td><tt>2995b1c35f11ca244b0765e10629378a9dc3d2a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kdesignerplugin-5.58.0.tar.xz">kdesignerplugin-5.58.0</a></td>
   <td align="right">88kB</td>
   <td><tt>083a05a36e09696e93c0f5c2f8d243fe62f1596a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kdesu-5.58.0.tar.xz">kdesu-5.58.0</a></td>
   <td align="right">45kB</td>
   <td><tt>eebd29048604b5b64fc7f417a66fb0abee9a74a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kdewebkit-5.58.0.tar.xz">kdewebkit-5.58.0</a></td>
   <td align="right">28kB</td>
   <td><tt>993275a15b1725624efa4e7044f3372fd6c0b3a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kdnssd-5.58.0.tar.xz">kdnssd-5.58.0</a></td>
   <td align="right">56kB</td>
   <td><tt>c9780a5feac5c9fc1266dd3f56d4cd8b88f2f6c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kdoctools-5.58.0.tar.xz">kdoctools-5.58.0</a></td>
   <td align="right">418kB</td>
   <td><tt>001e493458cde0d2ecf243df4ad8fb17901c5e9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kemoticons-5.58.0.tar.xz">kemoticons-5.58.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>9d8cd4b8e93ddd4201938e3787277a7257cdd479</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kfilemetadata-5.58.0.tar.xz">kfilemetadata-5.58.0</a></td>
   <td align="right">401kB</td>
   <td><tt>73d807bf40ae4913547003229c07d0a5244aef24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kglobalaccel-5.58.0.tar.xz">kglobalaccel-5.58.0</a></td>
   <td align="right">82kB</td>
   <td><tt>220e11c41c0a5d7e5c372cf38d85a611fa78de04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kguiaddons-5.58.0.tar.xz">kguiaddons-5.58.0</a></td>
   <td align="right">39kB</td>
   <td><tt>40431597e8bcbc31075935aac86c09a4d12ea43b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kholidays-5.58.0.tar.xz">kholidays-5.58.0</a></td>
   <td align="right">199kB</td>
   <td><tt>e6c031c1bf55f07ba56293ffaf01a41412cdb449</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/ki18n-5.58.0.tar.xz">ki18n-5.58.0</a></td>
   <td align="right">574kB</td>
   <td><tt>5c8435c759ead3f5e79052fbb7f4cd4cbc75f784</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kiconthemes-5.58.0.tar.xz">kiconthemes-5.58.0</a></td>
   <td align="right">202kB</td>
   <td><tt>0bf78392a95e82cfdc8a9b28f60b6980e97c80ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kidletime-5.58.0.tar.xz">kidletime-5.58.0</a></td>
   <td align="right">26kB</td>
   <td><tt>6e7cbb6db888ef364304f51c0750edf728031436</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kimageformats-5.58.0.tar.xz">kimageformats-5.58.0</a></td>
   <td align="right">200kB</td>
   <td><tt>78c16031e2e5c56bd8bff02f1325071211ff0aa5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kinit-5.58.0.tar.xz">kinit-5.58.0</a></td>
   <td align="right">117kB</td>
   <td><tt>c33f355da4d0c1e261437dd18f1f24e782521456</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kio-5.58.0.tar.xz">kio-5.58.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>a89b9b5720228e69cbf19668982149864094b576</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kirigami2-5.58.0.tar.xz">kirigami2-5.58.0</a></td>
   <td align="right">137kB</td>
   <td><tt>2c294de75342e14f3141182e597685e078339c90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kitemmodels-5.58.0.tar.xz">kitemmodels-5.58.0</a></td>
   <td align="right">380kB</td>
   <td><tt>9e99f992d2a41da3885ebeaa15b615314abff4aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kitemviews-5.58.0.tar.xz">kitemviews-5.58.0</a></td>
   <td align="right">73kB</td>
   <td><tt>1cc2e85353c4a6cc34cf2edce954a5809fb171da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kjobwidgets-5.58.0.tar.xz">kjobwidgets-5.58.0</a></td>
   <td align="right">85kB</td>
   <td><tt>edd250387c06438b1cea974a11e4f3e529259ce0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/knewstuff-5.58.0.tar.xz">knewstuff-5.58.0</a></td>
   <td align="right">986kB</td>
   <td><tt>637a7bfa3e1f23a3828c59c95862951df92b5a11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/knotifications-5.58.0.tar.xz">knotifications-5.58.0</a></td>
   <td align="right">111kB</td>
   <td><tt>44f829235224c666b995c14a8ac4eb8b35367d72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/knotifyconfig-5.58.0.tar.xz">knotifyconfig-5.58.0</a></td>
   <td align="right">81kB</td>
   <td><tt>b7bce82454aef6b2cf40ff283f24f645ff28d898</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kpackage-5.58.0.tar.xz">kpackage-5.58.0</a></td>
   <td align="right">129kB</td>
   <td><tt>b086da7de41f8fae888d7d6f94be2a141a1e8f7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kparts-5.58.0.tar.xz">kparts-5.58.0</a></td>
   <td align="right">171kB</td>
   <td><tt>03ee17cbe3bee5f8607a856192e1b08c2b68c094</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kpeople-5.58.0.tar.xz">kpeople-5.58.0</a></td>
   <td align="right">59kB</td>
   <td><tt>109bd420db9c63d0c7c78227bbca9c6cad502c0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kplotting-5.58.0.tar.xz">kplotting-5.58.0</a></td>
   <td align="right">29kB</td>
   <td><tt>8d3ed8df1685db5b760f61a9d50114aed66c9f6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kpty-5.58.0.tar.xz">kpty-5.58.0</a></td>
   <td align="right">56kB</td>
   <td><tt>e4617d9b98a0937863f13e2be90531c4dc82fb83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/krunner-5.58.0.tar.xz">krunner-5.58.0</a></td>
   <td align="right">60kB</td>
   <td><tt>b36807f7da12a84c94319ad87fd6f4b6074a693a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kservice-5.58.0.tar.xz">kservice-5.58.0</a></td>
   <td align="right">245kB</td>
   <td><tt>17f7d512e2b13baf05c7549e423cd29ebb7595fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/ktexteditor-5.58.0.tar.xz">ktexteditor-5.58.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>3842e048ffb7cbcb8ad1e499ef48bd0b952f9bc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/ktextwidgets-5.58.0.tar.xz">ktextwidgets-5.58.0</a></td>
   <td align="right">300kB</td>
   <td><tt>d98e81a0275ec34c7d26cabf1cc22e5a25c87972</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kunitconversion-5.58.0.tar.xz">kunitconversion-5.58.0</a></td>
   <td align="right">757kB</td>
   <td><tt>2abe0dfe599cef1a121ccbce0acf9d0ef0f94682</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kwallet-5.58.0.tar.xz">kwallet-5.58.0</a></td>
   <td align="right">300kB</td>
   <td><tt>12888a92084ed60d63ff8ed824fc8e1d8ec21d87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kwayland-5.58.0.tar.xz">kwayland-5.58.0</a></td>
   <td align="right">333kB</td>
   <td><tt>882ccfb157488b8b92d4c0864c4affdceca69049</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kwidgetsaddons-5.58.0.tar.xz">kwidgetsaddons-5.58.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>17990428312b9b85d7d0a4c4e7346deb597981e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kwindowsystem-5.58.0.tar.xz">kwindowsystem-5.58.0</a></td>
   <td align="right">166kB</td>
   <td><tt>0f534a8f460855af53b35de77c8045fdaeb766d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kxmlgui-5.58.0.tar.xz">kxmlgui-5.58.0</a></td>
   <td align="right">849kB</td>
   <td><tt>2a12db163eed27fa0ada386d8a0b119c98d51746</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/kxmlrpcclient-5.58.0.tar.xz">kxmlrpcclient-5.58.0</a></td>
   <td align="right">28kB</td>
   <td><tt>4bc18b107ce79d5a4e08c08f0f19b39e4cc5450d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/modemmanager-qt-5.58.0.tar.xz">modemmanager-qt-5.58.0</a></td>
   <td align="right">99kB</td>
   <td><tt>06f8570c414eea5d76ae1cb58cd64bf96ccffa9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/networkmanager-qt-5.58.0.tar.xz">networkmanager-qt-5.58.0</a></td>
   <td align="right">180kB</td>
   <td><tt>2936fc7ca92387f53c28c6c34595ae01718fc2a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/oxygen-icons5-5.58.0.tar.xz">oxygen-icons5-5.58.0</a></td>
   <td align="right">226MB</td>
   <td><tt>735c25fd18b6057c35c91c5fd547997b3256c5d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/plasma-framework-5.58.0.tar.xz">plasma-framework-5.58.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>38545bab299855263f93bcacc5eb02c9f9346c8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/prison-5.58.0.tar.xz">prison-5.58.0</a></td>
   <td align="right">41kB</td>
   <td><tt>43ef9a6aa3bba7ca35fb45da593246063b343555</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/purpose-5.58.0.tar.xz">purpose-5.58.0</a></td>
   <td align="right">142kB</td>
   <td><tt>2bddfe13d5a54c8040e30426c915230b8eaf21d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/qqc2-desktop-style-5.58.0.tar.xz">qqc2-desktop-style-5.58.0</a></td>
   <td align="right">43kB</td>
   <td><tt>792b5e75448432715f0dce195df8b120cce9eec3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/solid-5.58.0.tar.xz">solid-5.58.0</a></td>
   <td align="right">252kB</td>
   <td><tt>1bd1196706fcfa9668c86d46d7e8deb5789e51a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/sonnet-5.58.0.tar.xz">sonnet-5.58.0</a></td>
   <td align="right">280kB</td>
   <td><tt>9019d465996b92a01c0974712ce6e12acb6c2697</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/syndication-5.58.0.tar.xz">syndication-5.58.0</a></td>
   <td align="right">155kB</td>
   <td><tt>6d206add065237af0da3bc5304e2e1ef17e90057</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/syntax-highlighting-5.58.0.tar.xz">syntax-highlighting-5.58.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>19dc41d636e1f0e9fe259bfbf7d5ba3a4270256c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.58/threadweaver-5.58.0.tar.xz">threadweaver-5.58.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>814f910a4ef63ec153cd4ed5d2183f860d8b4c61</tt></td>
</tr>

</table>
