<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/aura-browser-5.26.2.tar.xz">aura-browser-5.26.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>fdeffcdd94c9be88aa18e1f08d824790fe4a5aa77b4159f55869609810df7d12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/bluedevil-5.26.2.tar.xz">bluedevil-5.26.2</a></td>
   <td align="right">307kB</td>
   <td><tt>99983890f3739df999bbd03a0dd4dd0d386813a9f312818f26b4690534fedae0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/breeze-5.26.2.tar.xz">breeze-5.26.2</a></td>
   <td align="right">55MB</td>
   <td><tt>5dd27b88a9fe92f785badf12151c30201edbd2a65756e9d714358e85f5586de5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/breeze-grub-5.26.2.tar.xz">breeze-grub-5.26.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>67cae93e528edb5630fc0528c598b5ae415f33eb57fa0b1afd6b1564e709f337</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/breeze-gtk-5.26.2.tar.xz">breeze-gtk-5.26.2</a></td>
   <td align="right">39kB</td>
   <td><tt>41586753302c538f353ef42a9079b98dbbff6f106b88a59b1736cb204695a0a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/breeze-plymouth-5.26.2.tar.xz">breeze-plymouth-5.26.2</a></td>
   <td align="right">108kB</td>
   <td><tt>b156910aacbd872c65bf38083f2653a3cca7b7246e4d08fc6de26cf503dabd75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/discover-5.26.2.tar.xz">discover-5.26.2</a></td>
   <td align="right">639kB</td>
   <td><tt>1d9176d502dce68e46c2a88a67b594d810d29d590ba5d34013d374179bf3d57e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/drkonqi-5.26.2.tar.xz">drkonqi-5.26.2</a></td>
   <td align="right">494kB</td>
   <td><tt>0fa04b8975c2ae7ffc2f844df0ae0f01baeeda12bf0e8f4a3790d82ef1119c1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/kactivitymanagerd-5.26.2.tar.xz">kactivitymanagerd-5.26.2</a></td>
   <td align="right">106kB</td>
   <td><tt>dec17d629f2e64190e09dc7632f3237f74033d72170d840754c624ebeae8b1bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/kde-cli-tools-5.26.2.tar.xz">kde-cli-tools-5.26.2</a></td>
   <td align="right">615kB</td>
   <td><tt>e9807343f97aeabeedc557277d195e7fe8ea06f2299b66ca5cb5610c5bee8c6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/kdecoration-5.26.2.tar.xz">kdecoration-5.26.2</a></td>
   <td align="right">51kB</td>
   <td><tt>81667e2992e5dc1556ddb6ca87a59119af2514abf5b6aeee0935d97585229eb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/kde-gtk-config-5.26.2.tar.xz">kde-gtk-config-5.26.2</a></td>
   <td align="right">72kB</td>
   <td><tt>780072591dbf1d7141ce8586784f97f125ce6db88b1183c2ffcee9456cb2623b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/kdeplasma-addons-5.26.2.tar.xz">kdeplasma-addons-5.26.2</a></td>
   <td align="right">667kB</td>
   <td><tt>8796f53720ba653f07df7c0f99d694829065436b76bc7512b579482cb0c88e06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/kgamma5-5.26.2.tar.xz">kgamma5-5.26.2</a></td>
   <td align="right">84kB</td>
   <td><tt>8c9c5b9b8c40722ba35323b9a9dcc8de5ba3cac27f5f67a750071ea2ad6a7baa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/khotkeys-5.26.2.tar.xz">khotkeys-5.26.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>ff52d8de566a10d4b3e6fb88cd9a246b62e3f2c030c896e89dab0a36dab45630</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/kinfocenter-5.26.2.tar.xz">kinfocenter-5.26.2</a></td>
   <td align="right">712kB</td>
   <td><tt>a201df28df8ed33adea79b4c5a42128b688521e899ecf46e5156a4d50aceb02b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/kmenuedit-5.26.2.tar.xz">kmenuedit-5.26.2</a></td>
   <td align="right">884kB</td>
   <td><tt>3f1b798b4ea1115c3b8b30de8569c940a448c3122337960afe991343803493ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/kpipewire-5.26.2.tar.xz">kpipewire-5.26.2</a></td>
   <td align="right">51kB</td>
   <td><tt>dec2580dac5f397834639a813e9d54b5d25e6131effb16b109fae539241a1083</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/kscreen-5.26.2.tar.xz">kscreen-5.26.2</a></td>
   <td align="right">150kB</td>
   <td><tt>6fe4f696d6717c494ac485f4ba7d0c2826bd4e8c5a0f2cf26447cdf0132fee10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/kscreenlocker-5.26.2.tar.xz">kscreenlocker-5.26.2</a></td>
   <td align="right">112kB</td>
   <td><tt>d1c359f2095be5a5d2982da3948e88d774a74fedb306c413486eb0dab11e7c89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/ksshaskpass-5.26.2.tar.xz">ksshaskpass-5.26.2</a></td>
   <td align="right">26kB</td>
   <td><tt>057d1e62ffe325dc01b4dc2453eb9775c7731fcb76bfb13365a05a7c4f4df085</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/ksystemstats-5.26.2.tar.xz">ksystemstats-5.26.2</a></td>
   <td align="right">104kB</td>
   <td><tt>7129beb218aeb65a7fbb5c2a8289ca945ea39c9ab791cd4e4e8555b1320f5375</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/kwallet-pam-5.26.2.tar.xz">kwallet-pam-5.26.2</a></td>
   <td align="right">22kB</td>
   <td><tt>48f4b104cd04d57e4d162fac9826893138bfd569df7066daa86e03fc895746cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/kwayland-integration-5.26.2.tar.xz">kwayland-integration-5.26.2</a></td>
   <td align="right">26kB</td>
   <td><tt>8e46286c848713bc4712a3cc4c55e9180f94637d7f180bcca7fd8f3697bbd5d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/kwin-5.26.2.1.tar.xz">kwin-5.26.2.1</a></td>
   <td align="right">6.3MB</td>
   <td><tt>7c9e921226f85c8f8e835b8bf63ae67da800d6921ba148618e570bf4825f3364</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/kwrited-5.26.2.tar.xz">kwrited-5.26.2</a></td>
   <td align="right">22kB</td>
   <td><tt>20015e85ee46759c33925d0efa2a21614713b3f2b17beaf876221b920890c592</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/layer-shell-qt-5.26.2.tar.xz">layer-shell-qt-5.26.2</a></td>
   <td align="right">17kB</td>
   <td><tt>9f5de2480cc5139ddd682e689a008dff6758827f1f06b1ee220cc1d91a708452</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/libkscreen-5.26.2.tar.xz">libkscreen-5.26.2</a></td>
   <td align="right">101kB</td>
   <td><tt>3aba759de8b44eb8cf0d06fb2de643dee2ffe1f4b3a04ce7ea7682a82add12a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/libksysguard-5.26.2.tar.xz">libksysguard-5.26.2</a></td>
   <td align="right">777kB</td>
   <td><tt>ba2d563ab4152faf91496d965d29b9d69daedfe26d152ad3ee0b37e6752b6b40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/milou-5.26.2.tar.xz">milou-5.26.2</a></td>
   <td align="right">49kB</td>
   <td><tt>c0772d49a2ded85eaad6b03ad70a7aa71aff2e34a45f86f89d8a779c5294812d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/oxygen-5.26.2.tar.xz">oxygen-5.26.2</a></td>
   <td align="right">2.6MB</td>
   <td><tt>7d741480b29b075711d735d318fa28c739c68f9d9a4c50ea0e60a731535b9a6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/oxygen-sounds-5.26.2.tar.xz">oxygen-sounds-5.26.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>0d1568e825f7f58511ee83a96e00e954cdea544e12d6d167e9bbc8511c57e4f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/plank-player-5.26.2.tar.xz">plank-player-5.26.2</a></td>
   <td align="right">152kB</td>
   <td><tt>189621f46c194a2f0a7c634065dd1a44a10b5d28b8b0c49a901c6c8d532d50f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/plasma-bigscreen-5.26.2.tar.xz">plasma-bigscreen-5.26.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>167e28b870f32357fe8791438a0fc27e37f87100398ad55edbcd6561801e25c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/plasma-browser-integration-5.26.2.tar.xz">plasma-browser-integration-5.26.2</a></td>
   <td align="right">230kB</td>
   <td><tt>c92de9a72a15b5f83be716feae02726fe3d8865bf5d575f1c5782ef397c798d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/plasma-desktop-5.26.2.tar.xz">plasma-desktop-5.26.2</a></td>
   <td align="right">6.0MB</td>
   <td><tt>7f4cfe291f3c41b5d046a196c787854ba368c40020019171d5e26a2d1635c201</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/plasma-disks-5.26.2.tar.xz">plasma-disks-5.26.2</a></td>
   <td align="right">90kB</td>
   <td><tt>4c6ec9797bff76286de393a90a5a60890fc272d979e950eea65372cf7c004a53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/plasma-firewall-5.26.2.tar.xz">plasma-firewall-5.26.2</a></td>
   <td align="right">349kB</td>
   <td><tt>2f0233acc7c4788aef449d233fdee4b8ebd3fb2d48e1ff189b69355f2a380dd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/plasma-integration-5.26.2.tar.xz">plasma-integration-5.26.2</a></td>
   <td align="right">86kB</td>
   <td><tt>11fad57fa359fc5011db306566f45af02da33ebb58022b010edb2ade54ed3b44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/plasma-mobile-5.26.2.tar.xz">plasma-mobile-5.26.2</a></td>
   <td align="right">3.2MB</td>
   <td><tt>c3e4a08467613311f49015dbe0d0060442b8fe6d0d283ce87d1b435cc29b1fa1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/plasma-nano-5.26.2.tar.xz">plasma-nano-5.26.2</a></td>
   <td align="right">70kB</td>
   <td><tt>7eb7b5e0644138b55548120d1713bae99cce92cf95911448d8d7e9dbaa9cb5a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/plasma-nm-5.26.2.tar.xz">plasma-nm-5.26.2</a></td>
   <td align="right">947kB</td>
   <td><tt>fdbaf7def00f42b50abc20e45ce491e495c595a46672dd1ecccaf0585731eb61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/plasma-pa-5.26.2.tar.xz">plasma-pa-5.26.2</a></td>
   <td align="right">139kB</td>
   <td><tt>6e741ca6bc75197e149af91765d1ca6caac06c438ed5714f91427c2d3dbf120b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/plasma-remotecontrollers-5.26.2.tar.xz">plasma-remotecontrollers-5.26.2</a></td>
   <td align="right">68kB</td>
   <td><tt>7a5f7da2153d1e425417bab4decccced6dd19ec0b757aae20b5c5e8e2c47f190</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/plasma-sdk-5.26.2.tar.xz">plasma-sdk-5.26.2</a></td>
   <td align="right">267kB</td>
   <td><tt>98abaa53c93f429a7a82f37e5b37da6bea1c9a5c9a4a209d2e663512eb4ff10c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/plasma-systemmonitor-5.26.2.tar.xz">plasma-systemmonitor-5.26.2</a></td>
   <td align="right">164kB</td>
   <td><tt>dee176dde40552cf824e7cc5dac68435af217682ec0e9b0fe772bfcd468f6b22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/plasma-tests-5.26.2.tar.xz">plasma-tests-5.26.2</a></td>
   <td align="right">1kB</td>
   <td><tt>f7b2b6dfa34ed6164a4451ab7991226f924775655c14209f731819cd5f38f63a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/plasma-thunderbolt-5.26.2.tar.xz">plasma-thunderbolt-5.26.2</a></td>
   <td align="right">70kB</td>
   <td><tt>87ec8034e7f5c698b54c731efc16894750f54752d01fc7f1773032cdff8fdd02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/plasma-vault-5.26.2.tar.xz">plasma-vault-5.26.2</a></td>
   <td align="right">180kB</td>
   <td><tt>498125b96ae9c8261e257993205d67c7a660e5c75ee8ecd1fc44fd746a930c6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/plasma-workspace-5.26.2.tar.xz">plasma-workspace-5.26.2</a></td>
   <td align="right">16MB</td>
   <td><tt>32e9dfe066d49adcc5ae326aa12c3e072ed84c67db98bdb12dcd93c4912cf84b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/plasma-workspace-wallpapers-5.26.2.tar.xz">plasma-workspace-wallpapers-5.26.2</a></td>
   <td align="right">80MB</td>
   <td><tt>ee0ebc868521f0f1163f9cdabeadd3473f74cb7548b4cb4a4cd2d3134f245ece</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/plymouth-kcm-5.26.2.tar.xz">plymouth-kcm-5.26.2</a></td>
   <td align="right">42kB</td>
   <td><tt>389d6009bddd688bb0aecb3c233ec46fc7854759bcdb0721800abf618391b941</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/polkit-kde-agent-1-5.26.2.tar.xz">polkit-kde-agent-1-5.26.2</a></td>
   <td align="right">48kB</td>
   <td><tt>720cddae7ac2891a30c526486ff42c6dd17ca52af2caf5d3ba8b19c9e6ced20c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/powerdevil-5.26.2.tar.xz">powerdevil-5.26.2</a></td>
   <td align="right">627kB</td>
   <td><tt>a48c550f6e6605d94310343c3b79d1c913a006ab76f1b6641515131bd3437900</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/qqc2-breeze-style-5.26.2.tar.xz">qqc2-breeze-style-5.26.2</a></td>
   <td align="right">64kB</td>
   <td><tt>3a0cecda8b160fd19b96eec28d4be6252eb082192a838706ab8ac4dac345a32a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/sddm-kcm-5.26.2.tar.xz">sddm-kcm-5.26.2</a></td>
   <td align="right">81kB</td>
   <td><tt>830728283db075b633527c1751e2533387c0735eefccf9869386544bdd936a71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/systemsettings-5.26.2.tar.xz">systemsettings-5.26.2</a></td>
   <td align="right">200kB</td>
   <td><tt>49d89979b9ca7836e416b87929b0b0f9060150cfcae46fd5f777cf18397ac90d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.2/xdg-desktop-portal-kde-5.26.2.tar.xz">xdg-desktop-portal-kde-5.26.2</a></td>
   <td align="right">106kB</td>
   <td><tt>36371050a72c31ecfb2a47986f777951c0c59272a5e348c78eec9913ecad5c73</tt></td>
</tr>

</table>
