<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/bluedevil-6.0.1.tar.xz">bluedevil-6.0.1</a></td>
   <td align="right">360kB</td>
   <td><tt>edba73e323585af4e0cc786d0806577259113fd7cb1fab0f62cbc738bd7fe779</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/breeze-6.0.1.tar.xz">breeze-6.0.1</a></td>
   <td align="right">55MB</td>
   <td><tt>200482cefd066e0d48e16aa7380a9cb00e634b2ba34834cdc7354f363b60544d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/breeze-grub-6.0.1.tar.xz">breeze-grub-6.0.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>888d6fcd767e8fdeddaa0abf5337bcd534a97aef91a8a5e47faa1972674d82e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/breeze-gtk-6.0.1.1.tar.xz">breeze-gtk-6.0.1.1</a></td>
   <td align="right">39kB</td>
   <td><tt>23ca96601cc9bff00434f7fbfe3901fbcb92362d1751a31c08520fb4c1124610</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/breeze-plymouth-6.0.1.1.tar.xz">breeze-plymouth-6.0.1.1</a></td>
   <td align="right">108kB</td>
   <td><tt>5e4fde9c7b55e24c0ae229cf4ab72ddf88359ef7b0bd2ae715bb87e1e0f1f782</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/discover-6.0.1.tar.xz">discover-6.0.1</a></td>
   <td align="right">977kB</td>
   <td><tt>7d51a1d8d12b752dab7321cc282fe64fc2f61f93807c35338b5044a786a1a19a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/drkonqi-6.0.1.tar.xz">drkonqi-6.0.1</a></td>
   <td align="right">853kB</td>
   <td><tt>5f660543c30a79effb48900d1ebad9f9e5620514daabde9bdabc2b5f01b2026d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/flatpak-kcm-6.0.1.tar.xz">flatpak-kcm-6.0.1</a></td>
   <td align="right">233kB</td>
   <td><tt>b0723fd41d0b6119b57299521f48b2d635de22c67799f2bf503c5b7c3f8de583</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/kactivitymanagerd-6.0.1.tar.xz">kactivitymanagerd-6.0.1</a></td>
   <td align="right">107kB</td>
   <td><tt>2f92c2bea13c7c69f68237e8c8706f7cd9cfef409d59ec7c1dc49df8946fb2b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/kde-cli-tools-6.0.1.tar.xz">kde-cli-tools-6.0.1</a></td>
   <td align="right">612kB</td>
   <td><tt>46e0dba284d74b506949c030e3f817f11c29262c116d3e9a2a9e65f39e43cd15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/kde-gtk-config-6.0.1.tar.xz">kde-gtk-config-6.0.1</a></td>
   <td align="right">76kB</td>
   <td><tt>bb50dfdcea9f21abeaa80b3dd52899321ad18b66e335161f66b4472960897e55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/kdecoration-6.0.1.tar.xz">kdecoration-6.0.1</a></td>
   <td align="right">53kB</td>
   <td><tt>8120da4c9c8caefea760a8f97a08f3ecffffb8af2772ab44df8109f619ff3596</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/kdeplasma-addons-6.0.1.tar.xz">kdeplasma-addons-6.0.1</a></td>
   <td align="right">845kB</td>
   <td><tt>6458e605d258e0b2a42d6014c336802c10df1af3fe14f34d0fdbf9e931cd2b6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/kgamma-6.0.1.tar.xz">kgamma-6.0.1</a></td>
   <td align="right">84kB</td>
   <td><tt>fb60953628df9707d7ba83155d5828d5f44d093ed841974c78ee9a74ece3c912</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/kglobalacceld-6.0.1.tar.xz">kglobalacceld-6.0.1</a></td>
   <td align="right">51kB</td>
   <td><tt>b40d43328d023d7ab1b265a3e8550dbfef2b8d0d1db2ada858111dcf3c194ea7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/kinfocenter-6.0.1.tar.xz">kinfocenter-6.0.1</a></td>
   <td align="right">813kB</td>
   <td><tt>14fecb3bf304e6c237789d962fea3fbc7256b0403075ed9bf4aebad58f8896e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/kmenuedit-6.0.1.tar.xz">kmenuedit-6.0.1</a></td>
   <td align="right">908kB</td>
   <td><tt>f70640d90f3c25b139345339503c0019ac743b2f2575df9df98c27d1445c7624</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/kpipewire-6.0.1.1.tar.xz">kpipewire-6.0.1.1</a></td>
   <td align="right">141kB</td>
   <td><tt>1902f3949052ff1ab5da79c6309586f3e11a29c7c04a044f73b3f6ac98251c4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/kscreen-6.0.1.tar.xz">kscreen-6.0.1</a></td>
   <td align="right">197kB</td>
   <td><tt>5872c20efbb89af8b9f52656b05c98684e0face58001d3b0ee0da7b25822f61a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/kscreenlocker-6.0.1.tar.xz">kscreenlocker-6.0.1</a></td>
   <td align="right">160kB</td>
   <td><tt>29def875c406e357028de91788587fde6b53acbd10d4b8177754becf5d956028</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/ksshaskpass-6.0.1.tar.xz">ksshaskpass-6.0.1</a></td>
   <td align="right">28kB</td>
   <td><tt>d2445970abcc65761528b7d3a7b2802406faca44d8928c2950e47b7573032146</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/ksystemstats-6.0.1.tar.xz">ksystemstats-6.0.1</a></td>
   <td align="right">121kB</td>
   <td><tt>071afe664c38ec6ab7b292b90e6b55cc2d2beb20be3f8aa53b131682893a5c49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/kwallet-pam-6.0.1.tar.xz">kwallet-pam-6.0.1</a></td>
   <td align="right">22kB</td>
   <td><tt>1ad8bbc01ec5d1c2144122bd3d82b2267da77d076ae3bfa4bbf1c41a2d70ba50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/kwayland-6.0.1.tar.xz">kwayland-6.0.1</a></td>
   <td align="right">130kB</td>
   <td><tt>d2b4d9ab31e254d6757a4ec6ab1ce780dbc6c00d4c8f6a5da07cf9181e8c8595</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/kwayland-integration-6.0.1.tar.xz">kwayland-integration-6.0.1</a></td>
   <td align="right">25kB</td>
   <td><tt>1b84bcf1f3d29bb14abc4554478afdb2bc7cc7951ba12c2d3c8802338bb32c73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/kwin-6.0.1.tar.xz">kwin-6.0.1</a></td>
   <td align="right">8.4MB</td>
   <td><tt>6e61857c5030b7b3953cc0da5ee94a243755999a4ce007a00311f91db8975f04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/kwrited-6.0.1.tar.xz">kwrited-6.0.1</a></td>
   <td align="right">23kB</td>
   <td><tt>606c7c2288e4f53f589943d08618ee15c3ae944f87083c0933bbbe2de0217412</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/layer-shell-qt-6.0.1.tar.xz">layer-shell-qt-6.0.1</a></td>
   <td align="right">20kB</td>
   <td><tt>3db32ae830b67f55a5de292b75791124a7edd033989b7e93e4bd913c58fd979f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/libkscreen-6.0.1.tar.xz">libkscreen-6.0.1</a></td>
   <td align="right">115kB</td>
   <td><tt>f03dcfc79f4e1b20d2bd3d1696e4622a95bc4d3b6360780fdf0c408ffa36289b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/libksysguard-6.0.1.tar.xz">libksysguard-6.0.1</a></td>
   <td align="right">286kB</td>
   <td><tt>90f0e667305b9aab9c32a4e8010caacc6a9fb1fc81a73b81d2ebbb4845eb2f03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/libplasma-6.0.1.tar.xz">libplasma-6.0.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>75fed69075bf11ace2fbe29f1d15270c8737fbaa9178905049efd802de76b474</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/milou-6.0.1.tar.xz">milou-6.0.1</a></td>
   <td align="right">48kB</td>
   <td><tt>c02eb160eab79d4bec1af877443a6d3c655f4b952c5171e1987013dacd4be610</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/ocean-sound-theme-6.0.1.tar.xz">ocean-sound-theme-6.0.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>62872d644bee85c8e87e8c94704477b6dc4877253c6ea2dfc0659ea1d37ab29d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/oxygen-6.0.1.tar.xz">oxygen-6.0.1</a></td>
   <td align="right">2.6MB</td>
   <td><tt>4dd92dd1b829ee9c25491ba7a2281bd9c4ec995d6e8dd04cf990ebfb8949f754</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/oxygen-sounds-6.0.1.tar.xz">oxygen-sounds-6.0.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>6cc6d4ebc74a5b5ee82db120f6d757dbc17f9b70912798400a201332319b7a8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/plasma-activities-6.0.1.tar.xz">plasma-activities-6.0.1</a></td>
   <td align="right">69kB</td>
   <td><tt>2fd7deee0eaaefc297a02e68e116b4f6da9475bb6f26f73d7ced1b5922bf4d86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/plasma-activities-stats-6.0.1.tar.xz">plasma-activities-stats-6.0.1</a></td>
   <td align="right">81kB</td>
   <td><tt>779ff55a449b9745295a7dcbff9a22abb4d4f0f74a807219674f624f7b55a6ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/plasma-browser-integration-6.0.1.tar.xz">plasma-browser-integration-6.0.1</a></td>
   <td align="right">214kB</td>
   <td><tt>42904981a0b0171286ef5b530091eb5f366005f11fccb96c95caf61905d81635</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/plasma-desktop-6.0.1.tar.xz">plasma-desktop-6.0.1</a></td>
   <td align="right">14MB</td>
   <td><tt>97d740e8e3b5ff92173b9a9086567dff40ff770ca34d0cecfeb35d650808a2f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/plasma-disks-6.0.1.tar.xz">plasma-disks-6.0.1</a></td>
   <td align="right">97kB</td>
   <td><tt>782f078a005850153bb87df3663448fd4aa9cff4cc7ccbdefa40a516ad7ea7fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/plasma-firewall-6.0.1.tar.xz">plasma-firewall-6.0.1</a></td>
   <td align="right">360kB</td>
   <td><tt>2be18564349360119988251fe152c076204b4742ec0d216fe51b518e8a7369e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/plasma-integration-6.0.1.tar.xz">plasma-integration-6.0.1</a></td>
   <td align="right">90kB</td>
   <td><tt>16d123dc3f59c492251b8e2fba949c75d3bf0f67f3cecf96c51be48dc414429f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/plasma-mobile-6.0.1.tar.xz">plasma-mobile-6.0.1</a></td>
   <td align="right">3.6MB</td>
   <td><tt>b273882e1c96b4abb9ee7f41227c47a240babfef45909f0dd77cac05ad364008</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/plasma-nano-6.0.1.tar.xz">plasma-nano-6.0.1</a></td>
   <td align="right">75kB</td>
   <td><tt>2041d015e904401bad3ad35a4a3102da46866aee8fc9cc0c93da37db8ea99474</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/plasma-nm-6.0.1.tar.xz">plasma-nm-6.0.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>70a201ee9ad202242b00ff50619664ac5205944f89df2ac3a72a9f4ce578932a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/plasma-pa-6.0.1.tar.xz">plasma-pa-6.0.1</a></td>
   <td align="right">166kB</td>
   <td><tt>2728ecd9f1c5106fe8bc07f0b03bda316036adc5d03a3ac001511f7543c337c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/plasma-sdk-6.0.1.tar.xz">plasma-sdk-6.0.1</a></td>
   <td align="right">319kB</td>
   <td><tt>72e0d7ac8199248f7a7a6a8ede7bdcd607990d5867a9998e1e6af14fd72328b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/plasma-systemmonitor-6.0.1.tar.xz">plasma-systemmonitor-6.0.1</a></td>
   <td align="right">176kB</td>
   <td><tt>2f8979978b348d6b71ac078f989dd21ff4e9b6b0d25b5e59a371be500fc99d51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/plasma-thunderbolt-6.0.1.tar.xz">plasma-thunderbolt-6.0.1</a></td>
   <td align="right">73kB</td>
   <td><tt>9b3c3ac10f7889a66bfabbf62823ec95dfdad9ff4665296d0c207d4bd28892bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/plasma-vault-6.0.1.tar.xz">plasma-vault-6.0.1</a></td>
   <td align="right">188kB</td>
   <td><tt>ad66289a5e1d3f6df3c17db16a1f88c158b4cf787656726e895848d0be6ed005</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/plasma-welcome-6.0.1.tar.xz">plasma-welcome-6.0.1</a></td>
   <td align="right">886kB</td>
   <td><tt>f8bae377ca50a4cbec4a96305f2e2b8e8c33359f596a64851108ab0950b6f341</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/plasma-workspace-6.0.1.tar.xz">plasma-workspace-6.0.1</a></td>
   <td align="right">19MB</td>
   <td><tt>d4c35cb168b990487b39f1b7eb1946909c5e74f0200d0de2d317659c16f15a0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/plasma-workspace-wallpapers-6.0.1.tar.xz">plasma-workspace-wallpapers-6.0.1</a></td>
   <td align="right">104MB</td>
   <td><tt>316322aeed53a904acfa6937813df6d2164498cd9d4c2f2d87b610bb5bcf82ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/plasma5support-6.0.1.tar.xz">plasma5support-6.0.1</a></td>
   <td align="right">54kB</td>
   <td><tt>0b25bd132306084cb5c0dae07c5c0ffa7a32d9eb1eacc0d34b56e784711ed335</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/plymouth-kcm-6.0.1.tar.xz">plymouth-kcm-6.0.1</a></td>
   <td align="right">45kB</td>
   <td><tt>450b68bfb2ffd1cb85cd02c4d641208378870784811a7f8f3a7814d663352279</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/polkit-kde-agent-1-6.0.1.tar.xz">polkit-kde-agent-1-6.0.1</a></td>
   <td align="right">54kB</td>
   <td><tt>629817c6e56a5647c3af97d6dc960e7744460332bd3de6af809095e8b532d93d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/powerdevil-6.0.1.tar.xz">powerdevil-6.0.1</a></td>
   <td align="right">774kB</td>
   <td><tt>0ac48f23e82644384340f0639037a8424169a8e1a34b49f3f6d250533242d0af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/print-manager-6.0.1.tar.xz">print-manager-6.0.1</a></td>
   <td align="right">328kB</td>
   <td><tt>a8c6a6e0fd3424c022d7211410a3f774c353f86ee7cb4f18adbd3aa67121974a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/qqc2-breeze-style-6.0.1.tar.xz">qqc2-breeze-style-6.0.1</a></td>
   <td align="right">64kB</td>
   <td><tt>7788524663b2393d88f0379878abbd1e52c0520eb3ca87d95478776a250290b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/sddm-kcm-6.0.1.tar.xz">sddm-kcm-6.0.1</a></td>
   <td align="right">95kB</td>
   <td><tt>7fce77f33ed6585910371d983fe2e20b107fecabc8652f8afb08d9ae193ee1cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/systemsettings-6.0.1.tar.xz">systemsettings-6.0.1</a></td>
   <td align="right">214kB</td>
   <td><tt>1c64a15819c2c683c669725f11ae85a2cdc494e47996f6a56cb2d81318904d95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/wacomtablet-6.0.1.tar.xz">wacomtablet-6.0.1</a></td>
   <td align="right">806kB</td>
   <td><tt>9b82c2b18dd80a504de8e00cd6a4f9ca9076bd98fa6fa111782223de945dce3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.1/xdg-desktop-portal-kde-6.0.1.tar.xz">xdg-desktop-portal-kde-6.0.1</a></td>
   <td align="right">160kB</td>
   <td><tt>da4a0b864ca176e8ce19f6e15d27c8f919323a51a0724ec82378179c3158d999</tt></td>
</tr>

</table>
