<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/bluedevil-5.25.4.tar.xz">bluedevil-5.25.4</a></td>
   <td align="right">171kB</td>
   <td><tt>04d99e9a47946e3d75a7dce59a0bf87525b7e7f5cc29673daea163fe62b5cfb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/breeze-5.25.4.tar.xz">breeze-5.25.4</a></td>
   <td align="right">29MB</td>
   <td><tt>77e914e9d87d1c8191a360ebd586ef115be56600a685f1c54e81a27f80dc8053</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/breeze-grub-5.25.4.tar.xz">breeze-grub-5.25.4</a></td>
   <td align="right">2.9MB</td>
   <td><tt>3a0cf90ed7952f9e2ab6292099280238cd3b48543143c9ee7afcb3732040c382</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/breeze-gtk-5.25.4.tar.xz">breeze-gtk-5.25.4</a></td>
   <td align="right">44kB</td>
   <td><tt>b1928ba6b835b4ec298468e9523c95934912febf877a22ebdbcb5b251c392af5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/breeze-plymouth-5.25.4.tar.xz">breeze-plymouth-5.25.4</a></td>
   <td align="right">108kB</td>
   <td><tt>e97cceec6eac147046b62265b2f01d1ee1a10b7b59b2e95efea1f86da782d071</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/discover-5.25.4.tar.xz">discover-5.25.4</a></td>
   <td align="right">7.9MB</td>
   <td><tt>e6fdb23e58be839ca2192ebbdaebed2846e723e6036e216a709437c44e969a94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/drkonqi-5.25.4.tar.xz">drkonqi-5.25.4</a></td>
   <td align="right">480kB</td>
   <td><tt>c48de791bf9d25f817c08eab40cdae308336ce607f76223249ad2f213a21ca1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/kactivitymanagerd-5.25.4.tar.xz">kactivitymanagerd-5.25.4</a></td>
   <td align="right">104kB</td>
   <td><tt>ad2af78dfc5dab38331a8e7033d17c7d8dc7770976d604cd2989f73a2502ffb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/kde-cli-tools-5.25.4.tar.xz">kde-cli-tools-5.25.4</a></td>
   <td align="right">617kB</td>
   <td><tt>1d59d504e9ee9d903ad3b0a4457dc8c0e03612b441f04d9984e1208e53dde602</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/kdecoration-5.25.4.tar.xz">kdecoration-5.25.4</a></td>
   <td align="right">48kB</td>
   <td><tt>b13a5c22a63a7d40cab58e31b443476c381bd8804b2b66aba03d31e0b2c487fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/kde-gtk-config-5.25.4.tar.xz">kde-gtk-config-5.25.4</a></td>
   <td align="right">70kB</td>
   <td><tt>8832dd6cb9305cf8024b077a63416da5d1f0918df5a0dc2283fb98accf2e990d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/kdeplasma-addons-5.25.4.tar.xz">kdeplasma-addons-5.25.4</a></td>
   <td align="right">652kB</td>
   <td><tt>8081719c6446b28e1b9b7bd8f5558caba73d5c8fff514569ed8ea17432aef5d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/kgamma5-5.25.4.tar.xz">kgamma5-5.25.4</a></td>
   <td align="right">82kB</td>
   <td><tt>aa884b3e181adac3a1a562c6af521924d3a31a061874a6ea3505ea9e036de2d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/khotkeys-5.25.4.tar.xz">khotkeys-5.25.4</a></td>
   <td align="right">1.7MB</td>
   <td><tt>be8f86f37e75b49e8d5f4a902ee1c4796b380d04a621e8cb24972cc926677142</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/kinfocenter-5.25.4.tar.xz">kinfocenter-5.25.4</a></td>
   <td align="right">708kB</td>
   <td><tt>a2ad2f4f841d14ae2ed03bd4798ed10f08388337a5f08367248f3ef8b0ee425b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/kmenuedit-5.25.4.tar.xz">kmenuedit-5.25.4</a></td>
   <td align="right">883kB</td>
   <td><tt>47fc9d5b17052613c568d38addc2d92e62408417381ed8d4b6482ca625a175f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/kscreen-5.25.4.tar.xz">kscreen-5.25.4</a></td>
   <td align="right">142kB</td>
   <td><tt>ee2208e9a7bbb519da10a6dbb2f3f06693f28ee102290de5ea0af1680af657f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/kscreenlocker-5.25.4.tar.xz">kscreenlocker-5.25.4</a></td>
   <td align="right">111kB</td>
   <td><tt>7dd3d20b38c156b676c5c84f2422491f28cbb7825de21ae37dbd77ec779bdb7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/ksshaskpass-5.25.4.tar.xz">ksshaskpass-5.25.4</a></td>
   <td align="right">24kB</td>
   <td><tt>7f46c90f6982487c5bce9e93fc1a418868804b63d67aa65e54eac54f7d6bf037</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/ksystemstats-5.25.4.tar.xz">ksystemstats-5.25.4</a></td>
   <td align="right">96kB</td>
   <td><tt>1d18fc4788debefb2f89dcfa1f68a4bc1f7d6ce9a4bbd3960e32ec0dd2165e65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/kwallet-pam-5.25.4.tar.xz">kwallet-pam-5.25.4</a></td>
   <td align="right">20kB</td>
   <td><tt>b30bee512552a22d04254c4b8638861ded2ddb2cfb4760f8861047ca9fed4392</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/kwayland-integration-5.25.4.tar.xz">kwayland-integration-5.25.4</a></td>
   <td align="right">23kB</td>
   <td><tt>6934c566838b016a38830e58f003440e2f1241cb8fc451f90de94d042ee316c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/kwin-5.25.4.tar.xz">kwin-5.25.4</a></td>
   <td align="right">6.3MB</td>
   <td><tt>e8a6121c000bdf4ade742ebd9b981485ef0481d99b3e1f8d2ae7bcd1e0e1507d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/kwrited-5.25.4.tar.xz">kwrited-5.25.4</a></td>
   <td align="right">20kB</td>
   <td><tt>a380d4631f9887dd1a36e11d7afe3a7b5d7039b4cf70c41c5e4d1d357304c276</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/layer-shell-qt-5.25.4.tar.xz">layer-shell-qt-5.25.4</a></td>
   <td align="right">17kB</td>
   <td><tt>2716f8adeff6edba422ca6690d2c710d04d4ad948a11fc5f02b48874ad45a85d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/libkscreen-5.25.4.tar.xz">libkscreen-5.25.4</a></td>
   <td align="right">97kB</td>
   <td><tt>4568cd44707e07a2d843dfeeb25540a5fc5e0402d1bac1911bae56989f062b9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/libksysguard-5.25.4.tar.xz">libksysguard-5.25.4</a></td>
   <td align="right">763kB</td>
   <td><tt>0601944d5dcfab6aaf6abd50219574feaf19b6728cf8c980c4553f35618df7cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/milou-5.25.4.tar.xz">milou-5.25.4</a></td>
   <td align="right">47kB</td>
   <td><tt>27ab7ea6fb04d81f150b75ca27f7e8f32dc2d060f76fc48bdf1947fe8e75d79e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/oxygen-5.25.4.tar.xz">oxygen-5.25.4</a></td>
   <td align="right">2.5MB</td>
   <td><tt>fe18857a3ef9a6de49da4f9797843869b68dae3974fba5ae1a0b7e2d9433a7b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/oxygen-sounds-5.25.4.tar.xz">oxygen-sounds-5.25.4</a></td>
   <td align="right">1.8MB</td>
   <td><tt>2b5d036bda8a44e04bd665c02b338271e93ba76181e15749f8216683dc44126d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/plasma-browser-integration-5.25.4.tar.xz">plasma-browser-integration-5.25.4</a></td>
   <td align="right">221kB</td>
   <td><tt>1c334d48fcb1b687fdbe72e691bc4f7bbc07edb82e578d4b56ae46bcf42576d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/plasma-desktop-5.25.4.tar.xz">plasma-desktop-5.25.4</a></td>
   <td align="right">6.0MB</td>
   <td><tt>d5cd0aa72bb2af652cd56be82aa996bdec7f43da1af49af10996072b026172ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/plasma-disks-5.25.4.tar.xz">plasma-disks-5.25.4</a></td>
   <td align="right">89kB</td>
   <td><tt>268d986cc540360c8daca5eae2b3630657e55bfc269ac5642e7515779e441a12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/plasma-firewall-5.25.4.tar.xz">plasma-firewall-5.25.4</a></td>
   <td align="right">348kB</td>
   <td><tt>944959aff79bbdfc62808d17485e6cf173c0889d8348e6cb0ccbfb86fa71358b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/plasma-integration-5.25.4.tar.xz">plasma-integration-5.25.4</a></td>
   <td align="right">84kB</td>
   <td><tt>71cdda800b3d8e07aae86d9a34077a7d4972fc359ce5421d8e6efd2bc4b96cb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/plasma-mobile-5.25.4.tar.xz">plasma-mobile-5.25.4</a></td>
   <td align="right">143kB</td>
   <td><tt>9eff8803d26b8e57f180b1a146bea3cf165fc65cb823fd6448610c49651d162c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/plasma-nano-5.25.4.tar.xz">plasma-nano-5.25.4</a></td>
   <td align="right">67kB</td>
   <td><tt>8913de9fd363ff16b28276f019973162658ad341e7f83d5c29888fc58b00c6de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/plasma-nm-5.25.4.tar.xz">plasma-nm-5.25.4</a></td>
   <td align="right">927kB</td>
   <td><tt>62621220cdd030098fa4c90a613cd279f8be29d21ff27d45792fcf7ac529f790</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/plasma-pa-5.25.4.tar.xz">plasma-pa-5.25.4</a></td>
   <td align="right">133kB</td>
   <td><tt>9592759fb1ab8b1456bd62c6329091da26da731fb05318829b424a23d094226d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/plasma-sdk-5.25.4.tar.xz">plasma-sdk-5.25.4</a></td>
   <td align="right">260kB</td>
   <td><tt>340d9fab31020b54ec014b2aff8c45c83b385138083bef777333485968214303</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/plasma-systemmonitor-5.25.4.tar.xz">plasma-systemmonitor-5.25.4</a></td>
   <td align="right">155kB</td>
   <td><tt>8cac03635311b493bfd05b518e854fc62de8e100f029952e71039ad9a4df40ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/plasma-tests-5.25.4.tar.xz">plasma-tests-5.25.4</a></td>
   <td align="right">1kB</td>
   <td><tt>e267d804da73d54cf3d4c7d03938167ea3f37c22a5eaa72013333e5569fd0635</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/plasma-thunderbolt-5.25.4.tar.xz">plasma-thunderbolt-5.25.4</a></td>
   <td align="right">67kB</td>
   <td><tt>da0ea99a3b3b02168b185629678afb7b46d879777c20b57486bc3a0cb49e5b42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/plasma-vault-5.25.4.tar.xz">plasma-vault-5.25.4</a></td>
   <td align="right">176kB</td>
   <td><tt>f8efbe20a3b4b088aa554c6e3ffcde7472d5a00e91866ae5db217b43e613d583</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/plasma-workspace-5.25.4.tar.xz">plasma-workspace-5.25.4</a></td>
   <td align="right">17MB</td>
   <td><tt>9c3e7fc1945549723b771b90aba65d50078d39d683b5df091a33f79f8dae89ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/plasma-workspace-wallpapers-5.25.4.tar.xz">plasma-workspace-wallpapers-5.25.4</a></td>
   <td align="right">67MB</td>
   <td><tt>3e62f58e8b52b670fa9fc8ef525c2d53635b3fd9f9042c725aec84157f7559ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/plymouth-kcm-5.25.4.tar.xz">plymouth-kcm-5.25.4</a></td>
   <td align="right">39kB</td>
   <td><tt>7be56e7b6a5cd6d1922ea226f780d065506970904fda30811c91c6c018636ff1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/polkit-kde-agent-1-5.25.4.tar.xz">polkit-kde-agent-1-5.25.4</a></td>
   <td align="right">47kB</td>
   <td><tt>6521c3b0c640ff98078ebb644712b226eb577c7409a12e2ca16e9fb4ff6b6a6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/powerdevil-5.25.4.tar.xz">powerdevil-5.25.4</a></td>
   <td align="right">623kB</td>
   <td><tt>bd378ddcb5972bafae8a07c5116d0c2fa60bedb7516d007dbd86f5546297f6db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/qqc2-breeze-style-5.25.4.tar.xz">qqc2-breeze-style-5.25.4</a></td>
   <td align="right">64kB</td>
   <td><tt>5f446fe26ba1bad2164f403c748de33a8a2b1cd3e868f32b252436b7b673d46b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/sddm-kcm-5.25.4.tar.xz">sddm-kcm-5.25.4</a></td>
   <td align="right">81kB</td>
   <td><tt>87f616f8b45c163973f9a18c8f8f4a4ff3426fc6ee0ea3f2321129b88d4c1fbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/systemsettings-5.25.4.tar.xz">systemsettings-5.25.4</a></td>
   <td align="right">202kB</td>
   <td><tt>9b3db6b965c0780c5edd5a346d9e3951ec76b26d071237ece432d0ee561a078c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.25.4/xdg-desktop-portal-kde-5.25.4.tar.xz">xdg-desktop-portal-kde-5.25.4</a></td>
   <td align="right">102kB</td>
   <td><tt>8f04b1e22691fe3a5332667ce4c7128c1a8e546dd5137e3be5eaa5c8ea50fb8d</tt></td>
</tr>

</table>
