<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/bluedevil-5.23.0.tar.xz">bluedevil-5.23.0</a></td>
   <td align="right">164kB</td>
   <td><tt>c21e0f0df7a3cf07c93489e92832045bc0d1e17a20d14b46685a635c47e50868</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/breeze-5.23.0.tar.xz">breeze-5.23.0</a></td>
   <td align="right">70MB</td>
   <td><tt>2003f168b3d60f5897486d9582631f75da7f0dc2625e9c4cddd9aa3d706bfd9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/breeze-grub-5.23.0.tar.xz">breeze-grub-5.23.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>bc9b56af2e453d67d65d3d8292f3bfe7966efa86620ddbb2125a283f1a3cbd32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/breeze-gtk-5.23.0.tar.xz">breeze-gtk-5.23.0</a></td>
   <td align="right">46kB</td>
   <td><tt>92eb49ba2e2144f8dfce970e4766e372d7e3448e46e22e742f3acb663df2a0d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/breeze-plymouth-5.23.0.tar.xz">breeze-plymouth-5.23.0</a></td>
   <td align="right">107kB</td>
   <td><tt>37f56a75d98b8e1b868dc27dcfb9a3ca0ef2b7adefc7cbad3d4506b6856a9c45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/discover-5.23.0.tar.xz">discover-5.23.0</a></td>
   <td align="right">7.8MB</td>
   <td><tt>536a27fd49c8181810582bfec72feeb611e06c2e5a98a863b1af362d5f2e4651</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/drkonqi-5.23.0.tar.xz">drkonqi-5.23.0</a></td>
   <td align="right">773kB</td>
   <td><tt>519bf4357e83d3b8dd506885d72099d65d3df0e76ce9a8ed68c565116a655edb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/kactivitymanagerd-5.23.0.tar.xz">kactivitymanagerd-5.23.0</a></td>
   <td align="right">101kB</td>
   <td><tt>912cd9eded892e44c782fb615491f41df886107b7b33583034d75ff997154aa2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/kde-cli-tools-5.23.0.tar.xz">kde-cli-tools-5.23.0</a></td>
   <td align="right">616kB</td>
   <td><tt>ae72d6e44769c1ac48d1dc3b4f0345c16fdcd053f7a1a4820b08b1d367df8568</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/kdecoration-5.23.0.tar.xz">kdecoration-5.23.0</a></td>
   <td align="right">46kB</td>
   <td><tt>b1b431bf14150ddf509c839dd6686df4dd0efa09b3b69b9f059d925ac8de90a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/kde-gtk-config-5.23.0.tar.xz">kde-gtk-config-5.23.0</a></td>
   <td align="right">69kB</td>
   <td><tt>4684ea82a3877573811d6761395f8bf3252d8c7118082c96a70c79d9f9ee11b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/kdeplasma-addons-5.23.0.tar.xz">kdeplasma-addons-5.23.0</a></td>
   <td align="right">608kB</td>
   <td><tt>2f15f9e2c90f88f87377c0e7aff0b8645b02afcfb5518ef279865d60810f91b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/kgamma5-5.23.0.tar.xz">kgamma5-5.23.0</a></td>
   <td align="right">81kB</td>
   <td><tt>a31ff237c00814f46de7d6791a0b496f971a6f9b2467fb3534d643dc0e6190f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/khotkeys-5.23.0.tar.xz">khotkeys-5.23.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>0f13f6842976853db42a7912da55ce25f6ad7e116740109f6255522662cb0f76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/kinfocenter-5.23.0.tar.xz">kinfocenter-5.23.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>4baf7e6e9a1d305c7c1b4c0c0d0ef4146fbc4008203d490ad6f4f6b4e578e07d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/kmenuedit-5.23.0.tar.xz">kmenuedit-5.23.0</a></td>
   <td align="right">879kB</td>
   <td><tt>b25053d24eb9e8a9f79dcc65bab742de6c027ee28f1b9344ddf94ffcfb370e6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/kscreen-5.23.0.tar.xz">kscreen-5.23.0</a></td>
   <td align="right">128kB</td>
   <td><tt>25ca9a2db37d7838462beb0b0bf3d21b89dea01a56e9b8b6df020ffcfe0cf83b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/kscreenlocker-5.23.0.tar.xz">kscreenlocker-5.23.0</a></td>
   <td align="right">114kB</td>
   <td><tt>832fd3c89e916c454edace46f1fba72c3bd211e98806e4ae2c2acc4df201324c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/ksshaskpass-5.23.0.tar.xz">ksshaskpass-5.23.0</a></td>
   <td align="right">23kB</td>
   <td><tt>a86c20079b62c55da26171eb9aec05e38f6c33f712455558d027a5cace08c163</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/ksystemstats-5.23.0.tar.xz">ksystemstats-5.23.0</a></td>
   <td align="right">88kB</td>
   <td><tt>a58d9ddc472bbd61582e7dd76404c99141da12cdea9aaef7f31860808cbcadeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/kwallet-pam-5.23.0.tar.xz">kwallet-pam-5.23.0</a></td>
   <td align="right">19kB</td>
   <td><tt>d7ee58f3878c07286f1c7185d6365f4b2275e6db30490bf0d773b3c37d417173</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/kwayland-integration-5.23.0.tar.xz">kwayland-integration-5.23.0</a></td>
   <td align="right">23kB</td>
   <td><tt>07e68dafbc92f2906fb6df051d715bc34df369bcf5a476af282c1e3d9a5e4acd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/kwayland-server-5.23.0.tar.xz">kwayland-server-5.23.0</a></td>
   <td align="right">212kB</td>
   <td><tt>3009d7249af74582afa89978d478eece3424e5ef225bdb6f40032e2a6471d671</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/kwin-5.23.0.tar.xz">kwin-5.23.0</a></td>
   <td align="right">6.0MB</td>
   <td><tt>ba74f70648faa3c92c88e1b77916c6abd7fcad1af9e717a39dc9df278f1a551f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/kwrited-5.23.0.tar.xz">kwrited-5.23.0</a></td>
   <td align="right">20kB</td>
   <td><tt>65a74b5d6fb75f4129b528a8cec6e3aadcbccdee6f7e0bf2d994fb1854999ffb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/layer-shell-qt-5.23.0.tar.xz">layer-shell-qt-5.23.0</a></td>
   <td align="right">17kB</td>
   <td><tt>f71377ad9e44e12005233b2309e37f00f8a469d4628647c5c4c80f026ce96b5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/libkscreen-5.23.0.tar.xz">libkscreen-5.23.0</a></td>
   <td align="right">95kB</td>
   <td><tt>c64b87b80683acccc5a3beb8fe22bd80a6e8b224b8a55714d5160174ad4ef1e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/libksysguard-5.23.0.tar.xz">libksysguard-5.23.0</a></td>
   <td align="right">750kB</td>
   <td><tt>c379dc3e806085ec058e7633153d697ab8868aa6eac1f483931f75f2fcdd61eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/milou-5.23.0.tar.xz">milou-5.23.0</a></td>
   <td align="right">46kB</td>
   <td><tt>115f03b3b9c47206fc09543b7646e93862a6b6bb1c20ff650961f6c16bbe9eb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/oxygen-5.23.0.tar.xz">oxygen-5.23.0</a></td>
   <td align="right">4.3MB</td>
   <td><tt>6c04ed2e5eca4d0dd82034875cd159dfd149ca412032258055f6a848ecbfe09e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/plasma-browser-integration-5.23.0.tar.xz">plasma-browser-integration-5.23.0</a></td>
   <td align="right">214kB</td>
   <td><tt>5cbf0c5e66de6f4ca21ff943004b4329ff1a3a4a6bb304633b990905ea77ea5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/plasma-desktop-5.23.0.tar.xz">plasma-desktop-5.23.0</a></td>
   <td align="right">15MB</td>
   <td><tt>346a806c839f3b26fca2db943bf58561dc3fd7ac08e7e73e9a157b532cae9c77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/plasma-disks-5.23.0.tar.xz">plasma-disks-5.23.0</a></td>
   <td align="right">84kB</td>
   <td><tt>fd8ae722541711d1f2bf6284df5ec5c68a116d175e7d53c10d2ced5c4e8e8c6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/plasma-firewall-5.23.0.tar.xz">plasma-firewall-5.23.0</a></td>
   <td align="right">335kB</td>
   <td><tt>f8eb325957fb4e0451a8daf1ef85bbaa336aac998d5b89376664a990d1125f01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/plasma-integration-5.23.0.tar.xz">plasma-integration-5.23.0</a></td>
   <td align="right">81kB</td>
   <td><tt>0930859552d8772f6a86ed723448d74609cfd559c55f7746ac33802cd33a7965</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/plasma-nano-5.23.0.tar.xz">plasma-nano-5.23.0</a></td>
   <td align="right">64kB</td>
   <td><tt>fcda0e8492c66b07e9ff4b2f30ec7f963a50c53e9d9fa3e7acd8b5c2e135ca94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/plasma-nm-5.23.0.tar.xz">plasma-nm-5.23.0</a></td>
   <td align="right">897kB</td>
   <td><tt>ab3fdcf10d6d1db431c64101d3eee7481d213cd98f048a1e9445f2aec083ee38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/plasma-pa-5.23.0.tar.xz">plasma-pa-5.23.0</a></td>
   <td align="right">126kB</td>
   <td><tt>0044353d5ee41d948ec19263fb359660e1525b08ed279bc642b9659597331cb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/plasma-phone-components-5.23.0.tar.xz">plasma-phone-components-5.23.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>9a8b818f4c23491defd43e32881607a810c2c74891ad05853b3db51daf3444f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/plasma-sdk-5.23.0.tar.xz">plasma-sdk-5.23.0</a></td>
   <td align="right">268kB</td>
   <td><tt>7ed57862510f3cfea72891788a99a0fbf25a2c09863329dad678244b29f0092f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/plasma-systemmonitor-5.23.0.tar.xz">plasma-systemmonitor-5.23.0</a></td>
   <td align="right">141kB</td>
   <td><tt>5c4c5f200ee75544db076be2da27a422387faf6c6e5163b63966626970a090d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/plasma-tests-5.23.0.tar.xz">plasma-tests-5.23.0</a></td>
   <td align="right">1kB</td>
   <td><tt>cdeed8ff269722569ff916ee75b09abe139f4163404e3ddb4d24e54c27e62238</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/plasma-thunderbolt-5.23.0.tar.xz">plasma-thunderbolt-5.23.0</a></td>
   <td align="right">63kB</td>
   <td><tt>2789546aa8a3875569877dca537ce7490d4bcabe5e6b840bb0d6820a00d82f2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/plasma-vault-5.23.0.tar.xz">plasma-vault-5.23.0</a></td>
   <td align="right">172kB</td>
   <td><tt>21be4da381d9453f908dd495c00f4bddd4c276e336ce9029341161096287df6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/plasma-workspace-5.23.0.tar.xz">plasma-workspace-5.23.0</a></td>
   <td align="right">8.5MB</td>
   <td><tt>49abcb19639a72eb5ffa916d5eca0a925d32a36e4a02658cc73ab479dea39965</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/plasma-workspace-wallpapers-5.23.0.tar.xz">plasma-workspace-wallpapers-5.23.0</a></td>
   <td align="right">54MB</td>
   <td><tt>424993551ed03c409c08e5067505a7df5f5adb81f6febf303fd763e6226a7394</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/plymouth-kcm-5.23.0.tar.xz">plymouth-kcm-5.23.0</a></td>
   <td align="right">38kB</td>
   <td><tt>c9c9477b314bf56670336c589b962d80a7b0757ec7b6300eb2e50d25239ac9b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/polkit-kde-agent-1-5.23.0.tar.xz">polkit-kde-agent-1-5.23.0</a></td>
   <td align="right">46kB</td>
   <td><tt>22d08e3989acf9ff92312b754c897d5323c6cf638e2fc12c22439924bce19cae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/powerdevil-5.23.0.tar.xz">powerdevil-5.23.0</a></td>
   <td align="right">612kB</td>
   <td><tt>06bb0a69faeb9991dec4a752b1f3b1798ff9bb0aa6a201d0c6615e176153504b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/qqc2-breeze-style-5.23.0.tar.xz">qqc2-breeze-style-5.23.0</a></td>
   <td align="right">65kB</td>
   <td><tt>cc34d490e4e98845ac106076d70e9faed3362b714d2dc25ed23d0285d0698721</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/sddm-kcm-5.23.0.tar.xz">sddm-kcm-5.23.0</a></td>
   <td align="right">75kB</td>
   <td><tt>c0c09f4a67bce82ceb65587c95a075218f430fb6c2db01205e95c6891ef3198c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/systemsettings-5.23.0.tar.xz">systemsettings-5.23.0</a></td>
   <td align="right">198kB</td>
   <td><tt>0b925472ec68a6e184ec4e044d1df7f406713847c0fd7b28e94ba88adadf388d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.0/xdg-desktop-portal-kde-5.23.0.tar.xz">xdg-desktop-portal-kde-5.23.0</a></td>
   <td align="right">87kB</td>
   <td><tt>144987824a51d96d52ae4989aca30ffd5f8e3548c2ea264ac8d824fb595183ff</tt></td>
</tr>

</table>
