// SPDX-FileCopyrightText: 2023 Carl Schwan <carl@carlschwan.eu>
// SPDX-License-Identifier: MIT

@import "./feature-tabs";

.hero-header {
  --hero-max-height: 420px;
  --hero-min-height: 360px;

  --hero-background-fallback: #ad5389;
  --hero-background-gradient: linear-gradient(to top, #ad5389, #3c1053);

  --hero-overlay: rgba(0,0,0,0.5);
  --bs-heading-color: white;
}

main {
  --border-radius-lg: 0.66rem;
  --bs-font-sans-serif: Inter;
  --bs-secondary-color: #7c7c7c
}

.colorful-heading {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: var(--main-heading-color);

  & > * {
    font-weight: bold;
  }
}

.hero {
  align-items: center;
  background-color: #333;
  background-position: top;
  background-size: cover;
  color: #fff;
  display: flex;
  height: calc(100vh - 100px);
  max-height: var(--hero-max-height);
  min-height: var(--hero-min-height);
  overflow: hidden;
  position: relative;

  --main-heading-color: linear-gradient(280deg, rgb(0,161,255) 0%, rgb(255,68,255));

  &-background {
    background: var(--hero-background-fallback);
    background: var(--hero-background-gradient);
  }

  &-overlay {
    background-image: linear-gradient(0deg, black, transparent);
    background-color: var(--hero-overlay);
  }

  &-background, &-overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .container {
    z-index: 1;
    align-self: center;
    text-align: center;
  }

  .colorful-heading {
    text-align: center;
  }
}

.intro {
  position: relative;
  height: 700px;
  background: black;

  &-content {
    left: 50%;
    position: absolute;
    top: -50px;
    transform: translateX(-50%);
    z-index: 1;
    max-width: 900px;
  }
}

.wallpaper {
  &-img {
    border-radius: var(--border-radius-lg);
    box-shadow: 0 0 50px black;
    width: 100%;
  }
}

.plasma-section, .gear-section {
  font-size: 1.2rem;

  @media (min-width: 1200px) {
    font-size: 1.5rem;
  }

  a {
    color: var(--main-color);

    &:hover {
      text-decoration: underline;
    }
  }

  &-more {
    color: var(--main-color);

    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

    h2, h3, .h5 {
      color: currentColor;
    }

    li {
      &::before {
        content: none !important;
      }
    }
  }
}

.gear-section {
  color: black;
  background: white;
}

.plasma-section, .kate, .konsole {
  --bs-heading-color: white;
  color: white;
  background: black;
  code {
    color: black;
  }
}

.plasma-intro {
  --main-heading-color: linear-gradient(45deg, rgb(0,98,234) 0%, rgb(68,255,255));
  --main-color: #0B7EEE;

  .container * {
    max-width: 1094px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .colorful-heading {
    text-align: center;
  }
}

.overview {
  --main-heading-color: linear-gradient(45deg, rgb(255,80,255) 0%, rgb(58,255,255));
  --main-color: #B292FF;

  video {
    border-radius: 1.5rem;
    box-shadow: 0 0 50px black;
  }

  .container * {
    max-width: 1094px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .colorful-heading {
    text-align: center;
  }
}

.colors {
  --main-heading-color: linear-gradient(45deg, rgb(114,255,58) 0%, rgb(58,255,143));
  --main-color: #65FF4D;

  h2 {
    font-weight: lighter;

    strong {
      font-weight: bold;
    }
  }

  &-video {
    margin-top: auto;
    video {
      overflow: hidden;
      border-radius: 1.5rem;
    }

    @media (min-width: 1700px) {
      margin-right: -200px;
    }
  }

  video {
    width: 100%;
  }
}

.panel {
  --main-heading-color: linear-gradient(45deg, #491bff 0%, rgb(255, 37, 98));

  overflow: hidden;

  p {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  @media (max-width: 900px) {
    &-img {
      transform: scale(1.5) translateX(15%);
    }
  }

  @media (max-width: 700px) {
    &-img {
      transform: scale(2.5) translateX(32%);
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 35% 100%;
  }
  50% {
    background-position: 65% 100%;
  }
  100% {
    background-position: 35% 100%;
  }
}

.breeze {
  --main-heading-color: linear-gradient(280deg, rgb(255,0,68) 0%, rgb(255,192,68));

  background: black;
  background: radial-gradient(#5B2727, black 60%);
  background-size: 400% 100%;

  animation: gradient 8s ease infinite;

  .colorful-heading > * {
    font-weight: lighter;
  }

  img-comparison-slider {
    outline: none;
    touch-action: pan-y;
    user-select: none;

    &:hover {
      cursor: col-resize;
    }

    --divider-color: black;
    --handle-color: black;
    --default-handle-color: black;
  }

  p {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.settings, .cube, .krunner {
  --main-heading-color: linear-gradient(45deg, rgb(0,98,234) 0%, rgb(68,255,255));

  p {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .text-center ul {
    max-width: inherit;
  }
}

.krunner {
  --main-heading-color: linear-gradient(45deg, rgb(0,255,102) 0%, rgb(68,255,255));
  --main-color: #1EFFAB;

  background: radial-gradient(#003623, black 80%);
}

.settings {
  p, h3 {
    text-align: left;
  }
}

.cube {
  background: #191b1f;
}

.more {
  --main-heading-color: linear-gradient(45deg, rgb(0,98,234) 0%, rgb(68,255,255));

  p, h3 {
    max-width: 800px;
  }
}

.default, .plasma-mobile {
  --main-heading-color: linear-gradient(45deg, rgb(255,80,255) 0%, rgb(58,255,255));
  --main-color: #B292FF;

  background: #1b091e;

  .text-center ul {
    max-width: inherit;
  }

  p, h3 {
    max-width: 800px;
  }
}

.plasma-mobile {
  background: radial-gradient(#4b336f, #16303b 100%);
}

.gear-more {
  --main-heading-color: linear-gradient(45deg, rgb(255,80,255) 0%, rgb(58,255,255));
  --main-color: #B292FF;

  h2, h3, .h5 {
    color: currentColor;
  }

  p {
    max-width: 1000px;
  }
}

.gear-intro {
  --main-heading-color: linear-gradient(45deg, rgb(255,80,255) 0%, rgb(58,255,255));
  --main-color: #B292FF;

  p {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.education, .tokodon, .kate, .konsole, .plasmatube, .pim, .spectacle, .neochat, .dolphin, .kdenlive {
  --main-heading-color: linear-gradient(45deg, rgb(0,98,234) 0%, rgb(68,255,255));
  --main-color: #0B7EEE;
  --code-bg: #eef;

  p, li {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  code {
    background-color: var(--code-bg)
  }
}

.plasmatube {
  --main-heading-color: linear-gradient(45deg, rgb(128, 42, 49) 0%, rgb(217, 144, 158));
  --main-color: #D9909E;

  --bs-heading-color: white;
  color: white;
  background: black;

  &-content {
    p {
      max-width: unset;
    }
    @media (min-width: 1600px) {
      img.float-img {
        float: right;
        margin-right: -300px;
        margin-left: 2rem;
        border-radius: var(--border-radius-lg);
      }
    }
    @media (max-width: 1600px) {
      img.float-img {
        margin-bottom: 1rem;
        border-radius: var(--border-radius-lg);
      }
    }
  }
}

.itinerary, .kdenlive {
  --main-heading-color: linear-gradient(45deg, #491bff 0%, rgb(255, 37, 98));
  --main-color: #a420b1;

  --bs-heading-color: white;
  color: white;
  background: black;
}

.community-donation {
  --main-color: #0B7EEE;

  p {
    max-width: 1000px;
  }

  h2, h3, .h5 {
    color: currentColor;
  }

  background: #dbedf8;
}

.wallpaper {
  margin-top: 0;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow: clip;

  background: black;
  background: radial-gradient(circle at center, #FFD58B, black 60%) no-repeat;
  background-size: 100%;

  &-content {
    z-index: 2;
    position: relative;
  }

  img {
    border-radius: var(--border-radius-lg);
    display: block;
    box-shadow: 0 0 50px black;
    width: 100%;
  }

  &-dark {
    --main-heading-color: linear-gradient(280deg, rgb(214, 138, 150) 0%, rgb(244, 186, 160));

    .background {
      background: url('/announcements/megarelease/6/dark.png');
    }
  }
}

.donorbox {
  box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
  border-radius: 8px;
  background: white;
}

h1, h2, h3, h4, h5 {
  padding-bottom: 0.1rem;
}
