{{/*
SPDX-FileCopyrightText: 2022 Carl Schwan <carl@carlschwan.eu>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}

<div class="container">
  <div class="row">{{ range $.Page.Params.other }}
    <div class="col-12 col-md-6 my-3">
      <a href="{{ .link }}" class="dark-card d-flex gap-3">
        <img src="{{ .img }}" alt="">
        <div>
          {{- if .imgName -}}
            <img style="height:2rem; width: auto;" loading="lazy" class="mb-4" src="{{ .imgName }}" alt="{{ .name }}" />
          {{- else -}}
            <h3 class="h4 mt-0">{{- .name -}}</h3>
          {{- end -}}
          <p>{{ .description | markdownify }}</p>
        </div>
      </a>
    </div>{{ end }}
  </div>
</div>
